<div class="first">

    <div class="img-3">
        <div class="first-container">
            <div class="high-value" style="user-select: none;">
                <h1>HIGH VALUES</h1>
                <P>OUR SUCCESS IS NOT ONLY DUE TO THE QUALITY OF OUR WORK, IT'S DOWN TO ATTITUDE, OUR APPROACH AND
                    THE WAY WE TREAT OUR CLIENTS</P>
            </div>

        </div>
    </div>
</div>


<div class="second">
    <div class="second-container row">
        <!-- <div class="col-md-1"></div> -->

        <div class="col-lg-6 box row">

            <div class="card col-sm-6">
                <div class="card-content-cnt">
                    <div class="circle"><img src="../../../assets/icons/focus (1).png">
                    </div>
                    <h2> FOCUS </h2>
                    <p> A focus strategy is usually employed where the company knows its segment and has products to
                        competitively satisfy its needs.</p>
                </div>
            </div>

            <div class="card col-sm-6">
                <div class="circle"><img src="../../../assets/images/passion.png" width="120px">
                </div>

                <h2>PASSION</h2>
                <p>Passion fuels enthusiasm and effort. It makes people care enough to stretch, to go all out.
                </p>
            </div>
        </div>

        <div class="col-lg-6 box row">
            <div class="card col-sm-6">
                <div class="circle"><img src="../../../assets/icons/empathy.png" width="120px"></div>

                <h2>EMPATHY</h2>
                <p>Empathy is the ability to see another’s perspective, which is absolutely critical to effective
                    collaboration under pressure. </p>
            </div>

            <div class="card col-sm-6">
                <div class="circle"><img src="../../../assets/images/teamwork.jpg" width="123px">
                </div>
                <h2>TEAMWORK</h2>
                <p>Teamwork is the collaborative effort of a group to achieve a common goal or to complete a task in the
                    most effective and efficient way. </p>
            </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>
<div class="different">
    <div class="row diff-box">
        <div class="col-md-12 title">
            <h1 style="user-select: none;">What makes Redsky different?</h1>
        </div>
        <div class="col-md-12 diff-content-cnt">
            <div class="ptext">
                <!-- <p>A smooth and friendly user's experience that has been built to ensure the user seamless adoption.</p> -->
                <p>Being one of the best Mobile App Development Companies in the industry, we know what it takes to
                    convert
                    your vision into reality. Having years of experience, we now understand that every project is unique
                    and
                    requires special consideration. Therefore, we help you with planning and researching your market
                    before
                    starting the development of the app. We have a team of mobile app developers that always stays
                    up-to-date with the latest technological trends.

                </p>
                <p>We are known in the market to broaden the hands of help even after the launch of your application. We
                    offer the best solutions intended to enhance your company’s productivity. Whenever our clients need
                    assistance we are always there for them to provide support and maintenance services. Our developers
                    always stay up-to-date with the technology and also keep your apps updated as per the latest
                    technological trends. A smooth and friendly user's experience that has been built to ensure the user
                    seamless adoption.
                </p>
                <p>At Redsky Advance Technology, we cater to the changing needs of the business and the clients, and
                    thus
                    offer customized solutions.</p>

            </div>

            <div class=" hover-cnt">
                <!-- <img src="../../../assets/images/pb-team-icon.png"> -->
                <app-hoverview></app-hoverview>
            </div>
        </div>
    </div>
</div>
<div class="our-team">

    <div class="row team-box">

        <div class="col-md-6 team-card row" *ngFor="let data of users">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img [src]="data.pic.url" onerror="this.src='../../../assets/images/ourteam/dummy-user-2.png'">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>{{data.firstName|titlecase}}</h1>
                <h3>FRONT-END DEVELOPER</h3>
                <p>{{data.description}}
                </p>
            </div>

        </div>
        <!-- <div class="col-md-6 team-card row" style=" background: linear-gradient(to left, #BD7FC9, #20336D);">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img src="../../../assets/images/ourteam/dummy-user-2.png">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>S KUMAR</h1>
                <h3>FRONT-END DEVELOPER</h3>
                <p>He is a frontend developer. He works on Nativescript, Reactnative, Angular, Gravit and AdobeXD .He is
                    a dedicated and responsible developer. During UI designing, he always surpasses the expectations.
                    His speed of project delivery has always
                    been the fastest.
                </p>
            </div>
        </div>

        <div class="col-md-6 team-card row" style=" background: linear-gradient(to left,#20336D, #BD7FC9 );">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img src="../../../assets/images/ourteam/simran.jpg">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>SIMRANJEET SINGH</h1>
                <h3>FRONT-END DEVELOPER</h3>
                <p>He is a frontend developer. He works on Nativescript, Angular, Html and Css. He loves to find new
                    ways to optimize the applications. He is very dedicated and flexible so switching between languages
                    does not bother him. He makes sure that
                    deadlines are met.
                </p>
            </div>
        </div>

        <div class="col-md-6 team-card row" style=" background: linear-gradient(to left, #BD7FC9, #20336D);">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img src="../../../assets/images/ourteam/vaishali.jpg">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>VAISHALI GARG</h1>
                <h3>BACK-END DEVELOPER</h3>
                <p>She is a backend developer. She works on NodeJS. She is very enthusiastic about learning new things.
                    She handles the projects with ease and delivers the required work. She gives her 100% and focuses on
                    the job.
                </p>
            </div>
        </div>




        <div class="col-md-6 team-card row" style=" background: linear-gradient(to left,#20336D, #BD7FC9 );">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img src="../../../assets/images/ourteam/isha.png">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>ISHA BALI</h1>
                <h3>BACK-END DEVELOPER</h3>
                <p>She is a frontend and backend developer. She works on ReactNative, Angular and NodeJs. She also plays
                    an important role of project manager. She is very dedicated for her work. She always remain
                    available for help to other employees.
                </p>
            </div>
        </div>
        <div class="col-md-6 team-card row" style=" background: linear-gradient(to left, #BD7FC9, #20336D);">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img src="../../../assets/images/ourteam/dummy-user-1.png">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>M SINGH</h1>
                <h3>BUSINESS ANALYST</h3>
                <p>He is a Business Analyst. He helps in guiding businesses in improving processes, products, services
                    and software through data analysis. He is an agile worker who straddle the line between IT and the
                    business to help bridge the gap, improve
                    efficiency, effective project management and on time delivery.
                </p>
            </div>
        </div> -->
        <!-- <div class="col-md-6 team-card row" style=" background: linear-gradient(to left,#20336D, #BD7FC9 );">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img src="../../../assets/images/ourteam/girl.png">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>RUMIT MAKKAR</h1>
                <h3>FRONT-END DEVELOPER</h3>
                <p>He is a Business Analyst. He is a good project handler who is good at jotting down the requirements
                    and document them for better understanding of developers team for getting the things done in no mean
                    time and with maximizing the accuracy
                    with least iterations.
                </p>
            </div>
        </div> -->
        <!-- <div class="col-md-6 team-card row" style=" background: linear-gradient(to left,#20336D, #BD7FC9 );">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img src="../../../assets/images/ourteam/ishwar.JPEG">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>ISHWAR</h1>
                <h3>FRONT-END DEVELOPER</h3>
                <p>He is a frontend developer. He works on Nativescript, Angular, Html and Css. He is always respectful, responsive and deliver great quality work. He is extremely helpful for other staff. He also loves to work on new things.
                </p>
            </div>
        </div> -->

        <!-- <div class="col-md-6 team-card row" style=" background: linear-gradient(to left,#20336D, #BD7FC9 );">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img src="../../../assets/images/ourteam/nidhi.jpg">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>NIDHI SHARMA</h1>
                <h3>BUSINESS ANALYST</h3>
                <p>She is a Business Analyst. She is a good project handler who is good at jotting down the requirements
                    and document them for better understanding of developers team for getting the things done in no mean
                    time and with maximizing the accuracy
                    with least iterations.
                </p>
            </div>
        </div>
        <div class="col-md-6 team-card row" style=" background: linear-gradient(to left, #BD7FC9, #20336D);">
            <div class="col-sm-1"></div>
            <div class="col-sm-3 team-img">
                <img src="../../../assets/images/ourteam/neha.png">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 team-name">
                <h1>NEHA THAKUR</h1>
                <h3>HUMAN RESOURCE MANAGER</h3>
                <p>She ensures planning, monitoring, and appraisal of employee work results by scheduling management
                    conferences
                    with employees, hearing and resolving employee grievances.
                </p>
            </div>
        </div> -->
    </div>
</div>

<div id="events">
    <div class="events">
        <div class="heading">
            <label>EVENTS</label>
        </div>
        <ngx-image-gallery [images]="photos" [conf]="conf" (onOpen)="galleryOpened($event)" (onClose)="galleryClosed()"
            (onImageClicked)="galleryImageClicked($event)"></ngx-image-gallery>
        <div class="photos">
            <!-- <div class="photo-row row">
                <owl-carousel-o [options]="getConfig()" class="owl-slider1 col-md-4">
                    <ng-template carouselSlide *ngFor="let photo of photos">
                        <img class="gallery-image" [src]="photo.url" [alt]="photo.name">
                    </ng-template>
                </owl-carousel-o>

                <owl-carousel-o [options]="getConfig()" class="owl-slider1 col-md-4">
                    <ng-template carouselSlide *ngFor="let photo of photos">
                        <img class="gallery-image" [src]="photo.url" [alt]="photo.name">
                    </ng-template>
                </owl-carousel-o>

                <owl-carousel-o [options]="getConfig()" class="owl-slider1 col-md-4">
                    <ng-template carouselSlide *ngFor="let photo of photos">
                        <img class="gallery-image" [src]="photo.url" [alt]="photo.name">
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="photo-row row">
                <owl-carousel-o [options]="getConfig()" class="owl-slider1 col-md-4">
                    <ng-template carouselSlide *ngFor="let photo of photos">
                        <img class="gallery-image" [src]="photo.url" [alt]="photo.name">
                    </ng-template>
                </owl-carousel-o>

                <owl-carousel-o [options]="getConfig()" class="owl-slider1 col-md-4">
                    <ng-template carouselSlide *ngFor="let photo of photos">
                        <img class="gallery-image" [src]="photo.url" [alt]="photo.name">
                    </ng-template>
                </owl-carousel-o>

                <owl-carousel-o [options]="getConfig()" class="owl-slider1 col-md-4">
                    <ng-template carouselSlide *ngFor="let photo of photos">
                        <img class="gallery-image" [src]="photo.url" [alt]="photo.name">
                    </ng-template>
                </owl-carousel-o>
            </div> -->


            <img (click)="openGallery($event)" *ngFor="let photo of photos" [src]="photo.url" [alt]="photo.name">

        </div>

        <div class="button ">
            <button mat-button *ngIf="isLoadMore" class="view-more-btn" (click)="newChanges()">View More
            </button>
        </div>
        <!-- <div class="col-md-1" style></div> -->

    </div>

</div>