.first {
    max-width: 100%;
    height: 100vh;
    /* padding-top: 100px; */
    /* padding-bottom: 70px; */
    background: linear-gradient(to right, #BD7FC9, #20336D);
}

.img-3 {
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/highvalue_icon1 (1).png');
    height: 100%;
    background-size: 50% 100%;
    /* height: 83em; */
}

.first-container {
    /* padding-top: 10vw; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    font-family: Segoe UI;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.first-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.high-value {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
}

.high-value h1 {
    font-size: 6vw;
    font-weight: 600;
    color: #ffffff;
    line-height: 110px;
}

/* .high-value h2 {
    font-size: 7vw;
    font-weight: 600;
    color: #ffffff;
} */

.high-value p {
    margin-top: 20px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
}

/* ............................ Second ............................ */

.second {
    background: #E5E5E5;
    max-width: 100%;
    min-height: 38vw;
    display: flex;
    justify-content: center;
}

.second-container{
    width: 80%;
    justify-content: space-evenly;

    align-items: top;
}
.second .box {
    width: 100%;
    text-align: center;
    font-family: Segoe UI;
    margin-left: 30px;

}

.card-content-cnt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-sm-12 {
    margin-left: 30%!important;
}

@media (min-width: 490px) {
    .col-sm-12 {
        margin-left: 0px!important;
        margin-top: 10%;
    }
}

@media (min-width: 400px) {
    .col-sm-12 h1 {
        margin-left: 0px!important;
        margin-top: 10%;
        font-size: 14px;
    }
}

.box .card {
    /* padding: 30px 0px 20px 70px; */
    background: transparent;
    border: none;
    padding-top: 17%;
}

.second .circle {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: #ffffff;
    margin: 0px auto;
    overflow: hidden;
}

.second .circle img {
    width: 100px;
}

.second .box h2 {
    margin: 10px 0px;
    color: #20336D;
    font-size: 24px;
}

.second .box p {
    margin: 15px 0px;
    color: #404040;
    font-size: 20px;
}

/* ...................... 2nd screen End .......................... */

.different {
    max-width: 100%;
    min-height: 49vw;
    background: #E5E5E5;
    /* padding: 10px 0px; */
}

.diff-box {
    font-family: Segoe UI;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.diff-box .title {
    text-align: center;
}

.diff-box .title h1 {
    font-size: 35px;
    font-weight: 500;
    font-family: Segoe UI;
}

.diff-box .ptext {
    margin-top: 90px;
    width: 45%;
}

.diff-box p {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    font-family: Segoe UI;
}

.diff-box img {
    margin-top: 90px;
    padding: 10px;
}

.hover-cnt {
    display: flex;
    justify-content: center;
}

.diff-content-cnt {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

/* ............................. Our Team .................................... */

.our-team {
    max-width: 100%;
    min-height: 49vw;
}

.row {
    margin: 0 !important;
}

.team-card {
    background: linear-gradient(to right, #BD7FC9, #20336D);
    overflow: hidden;
    padding: 10px 0px;
}
.team-card:nth-child(odd) {
    background: linear-gradient(to left, #BD7FC9, #20336D);;

}
/* .team-img {
    border-radius: 100%;
    background-color: #ffffff;
    padding: 0;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
} */

.team-card .team-img img {
    width: 100%;
    padding: 0;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 100%;
}

.team-card .team-name {
    color: #ffffff;
}

.team-card .team-name h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 20px;
}

.team-card .team-name h3 {
    font-size: 18px;
    margin: 10px 20px;
}

.team-card .team-name p {
    font-size: 15px;
    padding: 0px 20px;
}

.events {
    width: 100%;
    background-color: #20336D;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
}

.heading label {
    font-size: 4vw;
    color: #ffffff;
    font-family: 'Segoe UI';
    font-weight: 500;
}

.gallery-image {
    width: 100%;
}

.photos {
    padding: 5px;
    width: 90%;
    line-height: 0;
    column-count: 5;
    column-gap: 5px;
    background: #BD7FC9;
    margin-left: 15px;
}

.owl-slider1 {
    padding: 0px;
    height: 250px;
}

.photo-row {
    width: 100%;
    height: fit-content;
}

.photos img {
    width: 100% !important;
    margin-bottom: 5px;
    height: auto !important;
    transition: 1s ease-in-out;
}

.button {
    /* margin: auto; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 70px;
}

.view-more-btn {
    font-weight: 300;
    font-size: 18px;
    color: #20336D;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    height: 40px;
    text-align: center;
}

.view-more-btn:focus, .view-more-btn:active:focus, .view-more-btn.active:focus {
    outline: none !important;
    outline-style: none !important;
}

.photos img:hover {
    transform: scale(1.35, 1.35);
}

@media (max-width:767px) {
    .diff-box p {
        font-size: 16px !important;
    }
    .ptext {
        width: 95% !important;
        margin-top: 30px !important;
    }
    .diff-box img {
        width: 100%;
        margin-top: 50px !important;
        padding: 10px;
    }
    .first-container {
        /* padding-top: 10vw; */
        background-color: rgba(0, 0, 0, 0.2);
    }
    .first {
        height: 60vh;
    }
    .img-3 {
        background-size: 100% 100%;
        background-image: url('../../../assets/images/highvalue_icon1 (1).png');
    }
    .high-value {
        width: 80%;
    }
    .high-value h1 {
        font-size: 8vw;
    }
    .high-value p {
        margin-top: 10px;
        font-size: 18px;
        color: #ffffff;
        font-weight: 500;
    }
    .different {
        padding-top: 50px;
        margin-top: 1px;
    }
    .second {
        padding-bottom: 50px;
    }
    .second .box h2 {
        font-size: 24px;
    }
    .second .box p {
        font-size: 18px;
    }
    .diff-content-cnt {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photos {
        column-count: 3;
    }
}


@media (max-width:1100px) {
    .diff-box img {
        width: 100%;
        margin-top: 150px;
        padding: 10px;
    }
    .diff-box p {
        font-size: 16px;
        padding: 10px;
    }
    /* .first-container h1 {
        font-size: 14vw;
    } */
}

@media (min-width: 1100px) {
    .team-card {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media (min-width: 768px) and (max-width:1100px) {
    .team-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .diff-content-cnt {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .diff-box .ptext {
        margin-top: 90px;
        width: 90%;
    }
}

h2 {
    user-select: none;
}

img {
    user-select: none;
}

h1 {
    user-select: none;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder:after {
    content: '\25bc';
}