<div id="mask">
    <button id="closebtn" (click)="closemask()"><i class="material-icons"
            style="font-size: 50px; color: #ffffff; background: transparent;">close</i>
    </button>
    <div class="background">
        <div class="card-box">

            <mat-card class="left-card">
                <div class="left-first-div">

                    <div class="img-height">
                        <img class="img-height" [src]="careers[postId].img">
                    </div>
                    <div class="name-adderss">
                        <div>
                            <mat-label style="margin:auto;align-items: center; font-size: 18px;">
                                {{careers[postId].title}}</mat-label>
                        </div>

                        <!-- <p>{{careers[postId].location}}</p> -->
                        <div class="address-div">
                            <p >E45 , Phase 8
                                , Industrial Area , Mohali - 160071</p>

                        </div>
                    </div>
                </div>

                <div class="description-div">

                    <p>{{careers[postId].description}}</p>


                    <!-- <div class="Description-font">

                        <mat-label style="font-size:20px;">Description :</mat-label>
                    </div> -->
                    <!-- <div class="detail-font">
                        <p>{{careers[postId].description}}</p>
                    </div> -->

                </div>

            </mat-card>


            <mat-card class="right-card">
                <div class="apply-font"> Apply </div>
                <mat-tab-group mat-align-table="center"> </mat-tab-group>
                <!-- <div class="item-box"> -->
                <div class="item-box">
                    <form [formGroup]="applyForm" (ngSubmit)="onProfileFormSubmit()">
                        <div class="form-fild-align">
                            <div style="margin-top:auto;margin-bottom: auto;">
                                <mat-label>First Name : </mat-label>
                            </div>
                            <div class="input-fild-width">
                                <mat-form-field style=" color: #203165; width: 100%;">
                                    <i class="fas fa-user icon"></i>
                                    <input formControlName="name" matInput placeholder="First name" id="firstname" maxlength="20"
                                        (keyup)="onKey($event,0)">

                                    <mat-error *ngIf="showErrors && !applyForm.controls[ 'name'].valid ">First
                                        name is <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-fild-align">
                            <div style="margin-top:auto;margin-bottom: auto;">
                                <mat-label>Last name : </mat-label>
                            </div>

                            <div class="input-fild-width">
                                <mat-form-field style=" color: #203165; width: 100%;">
                                    <i class="fas fa-signature icon"></i>
                                    <input style="padding-right:25px" formControlName="lastname" matInput
                                        placeholder="last name" id="lastname" maxlength="15" (keyup)="onKey($event,1)">

                                    <mat-error *ngIf="showErrors  && !applyForm.controls[ 'lastname'].valid ">Email
                                        is <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-fild-align">
                            <div style="margin-top:auto;margin-bottom: auto;">
                                <mat-label>Email : </mat-label>
                            </div>
                            <div class="input-fild-width">
                                <mat-form-field style=" color: #203165; width: 100%;">
                                    <i class="fas fa-envelope icon"></i>
                                    <input style="padding-right:25px" type="email" formControlName="email" matInput
                                        placeholder="Enter Email" id="email" (keyup)="onKey($event,2)">

                                    <mat-error *ngIf="showErrors  && !applyForm.controls[ 'email'].valid ">Email
                                        is <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-fild-align">
                            <div style="margin-top:auto;margin-bottom: auto;">
                                <mat-label>Mobile No : </mat-label>
                            </div>
                            <div class="input-fild-width">
                                <mat-form-field style=" color: #203165; width: 100%;">
                                    <i class="fas fa-mobile-alt icon"></i>
                                    <input max="99999"type="number" id="mobile" 
                                        formControlName="mobile" maxlength="10" matInput placeholder="Enter Mobile No."
                                        (keyup)="onKey($event,3)">
                                    <mat-error *ngIf="showErrors && !applyForm.controls[ 'mobile'].valid ">Mobile
                                        No. is <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-fild-align">
                            <div style="margin-top:auto;margin-bottom: auto;">
                                <mat-label>Qualification : </mat-label>
                            </div>
                            <div class="input-fild-width">
                                <mat-form-field style=" color: #203165; width: 100%;">
                                    <i class="fas fa-user-graduate icon"></i>
                                    <input style="padding-right:25px" formControlName="qualification" matInput
                                        placeholder=" Qualification" id="skills" maxlength="20" (keyup)="onKey($event,4)">

                                    <mat-error *ngIf="showErrors  && !applyForm.controls[ 'qualification'].valid">Skills
                                        are <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-fild-align">
                            <div style="margin-top:auto;margin-bottom: auto;width: 34%">
                                <mat-label>Collage/ University :</mat-label>
                            </div>
                            <div class="input-fild-width">
                                <mat-form-field style=" color: #203165; width: 100%;">
                                    <i class="fas fa-hotel icon"></i>
                                    <input style="padding-right:25px" maxlength="40"type="text" formControlName="university" matInput
                                        placeholder="Collage/University" id="collage" (keyup)="onKey($event,5)">

                                    <mat-error *ngIf="showErrors  && !applyForm.controls[ 'university'].valid ">University
                                        details <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="apply-btn-margin">
                            <button mat-raised-button class="apply-btn" (click)="onSubmit($event)">Apply
                                Now</button><br><br>
                        </div>
                    </form>
                </div>
            </mat-card>

        </div>

    </div>
    <div id="progresslayer" *ngIf="progressBar">
        <mat-spinner class="progressbar"></mat-spinner>
    </div>
</div>



<div class="traning">

    <div class="webdev row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="title">
                <h1>TRAINING</h1>
            </div>
        </div>
        <div class="col-md-1"></div>


        <div class="col-md-1"></div>
        <div class="col-md-10 row">
            <div class="col-lg-4 col-md-6" *ngFor="let career of careers">
                <mat-card class="card">
                    <div class="image-box">
                        <img class="careers-image" [src]="career.img">
                    </div>
                    <p class="careercarddescription">{{career.description}}</p>
                    <button class="button" mat-button (click)="apply(career.id)">Apply Now</button>
                </mat-card>
            </div>

        </div>
        <div class="col-md-1"></div>

    </div>

</div>