 /* #careers {
    width: 100%;
    background-color: #203165;
    padding: 100px 0px;
    height: 100%;
} */

 #progresslayer {
     height: 100vh;
     width: 100vw;
     top: 0;
     left: 0;
     position: absolute;
     background-color: rgba(0, 0, 0, 0.4);
     color: white;
     z-index: 999;
 
 }

 .progressbar {
     height: 10px;
     margin-right: auto;
     margin-left: auto;
     margin-top: 40vh;
    
 }
       /* ------------------------------apply-form-start------------------------------- */

 #mask {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 100%;
     z-index: 800;
     width: 100vw;
     overflow-y: scroll;
     overflow-x: hidden;
     height: auto;
     background: linear-gradient(45deg, #BD7FC9, #20336D);
     font-family: Segoe UI;
     transition: .6s ease-out;
 }

 #closebtn {
     background: transparent;
     position: absolute;
     float: right;
     border: none;
     margin: 20px;
     display: none;
     z-index: 100;
 }

 .card-box {
     width: 80%;
     height: 80%;
     margin: auto;
     display: flex;
     flex-direction: row;
     margin-top: 70px;
     /* margin-bottom: 5%; */
 }

 .left-card {
     width: 50%;
     height: 80vh;
     display: flex;
     flex-direction: column;
     /* padding: 50px; */
     margin: auto;
     border-top-left-radius: 10px;
     border-top-right-radius: 0px;
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 10px;
 }

 .left-first-div {
     display: flex;
     flex-direction: row;
     border-bottom: #BD7FC9 solid 2px;
     border-radius: 40px;
     padding: 10px;
 }

 .img-height {
     height: 60px;
 }

 .name-adderss {
     display: flex;
     flex-direction: column;
     margin: auto;
     align-items: baseline center;
     align-items: flex-end;
 }

 .address-div {
     width: 80%;
     margin-top: 10px;
     margin-bottom: -15px;
     text-align: right;
 }

 .description-div {
     display: flex;
     justify-content: center;
     margin: auto;
     margin-top: 40px;
     width: 100%;
     /* height: 370px; */
     padding-bottom: 10px;
 }

 .description-div p {
    width: 90% !important;
    text-align: center;
    font-family: Segoe UI;
     width: 120px;
     color: #152b6e;
     font-size: 16px;


}


 /* .Description-font {
     font-family: Segoe UI;
     width: 120px;
     color: #152b6e;
 }

 .detail-font {
     font-family: Segoe UI;
     width: 60%;
     color: #203165;
     margin-bottom: auto;
     font-size: 16px;
 } */

 .right-card {
     width: 50%;
     height: 80vh;
     display: flex;
     flex-direction: column;
     padding: 40px;
     border-top-left-radius: 0px;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 0px;
 }

 .apply-font {
     font-size: 24px;
     margin: auto;
     margin-top: -30px;
     margin-bottom: 10px;
     font-family: Segoe UI;
     color: #203165;
 }

 .item-box {
     height: 100%;
     display: flex;
     flex-direction: column;
     padding-top: 22px;
 }

 .form-fild-align {
     display: flex;
     flex-direction: row;
     margin-left: 10px;
     justify-content: space-between;
     vertical-align: middle;
     font-size: 16px;
     font-weight: 800px;
 }

 .input-fild-width {
     width: 65%;
 }

 .icon {
     position: absolute;
     right: 2.1px;
     color: #203165;
 }

 .apply-btn-margin {
     display: flex;
     justify-content: flex-end;
 }

 .apply-btn {
     font-size: 16px;
     margin-top: auto;
     background: #203165;
     color: #ffffff;
     margin-top: 5px;
 }

 .apply-btn:focus {
     color: #0a1636;
     background: #ffffff;
 }
 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 @media(max-width: 1180px) {
     .card-box {
         width: 90%;
     }
     .address-div {
         width: 90%;
     }
     .Description-div {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
     .detail-font {
         width: 100%;
         margin-top: 20px;
     }
     .address-div {
         display: none;
         margin-bottom: 0px;
     }
 }

 @media(max-width: 770px) {
     .card-box {
         width: 90%;
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     }
     .left-card {
         width: 100%;
         height: 450px;
         margin: auto;
         border-radius: 10px;
     }
     .right-card {
         width: 100%;
         height: 100%;
         margin: auto;
         border-radius: 10px;
         margin-top: 30px;
         margin-bottom: 30px;
     }
     .address-div {
         display: block;
         margin-bottom: 0px;
         margin-right: 5px;
     }
     .Description-div {
         margin: auto;
         margin-top: 30px;
         width: 100%;
         /* height: 200px; */
         padding-bottom: 10px;
     }
     .image-with-detail {       
         display: flex;
         flex-direction: column;
     }
     .text-font {
         margin: 0;
     }
 }

 @media(max-width: 550px) {
    .Description-div {
        margin-top: 20px;   
        width: 100%;
        /* height: 250px; */
        margin-bottom: 20px;
    }
    .img-height{
        border-radius: 10px;
    }
    .detail-font {
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .address-div {
        display: none;
        margin-bottom: 0px;
    }
    .detail-font {
     font-size: 15px;
    }
    .left-card {
        padding: 0px 10px 10px 10px;
        height: 380px;
    }
    .right-card {
        padding: 40px 15px 30px 10px;
    }
    .form-fild-align{
        font-size: 15px;
    }
    .apply-btn {
        font-size: 14px;
    }
    .name-adderss{
        display: none;
    }
    .left-first-div {
       justify-content: center !important;
        
    }
 }
 

 /* ...................for traning .............. */

 .traning {
     padding: 0;
     margin: 0;
     max-width: 100vw;
 }

 .container {
     padding: 0;
     margin: 0;
 }

 .headerimg {
     background-image: url('../../../assets/images/traning-head.jpg');
     max-width: 100%;
     height: 320px;
     text-align: center;
     vertical-align: middle;
 }

 .headerimg label {
     font-size: 3vw;
     color: #203165;
     margin-top: 40px;
     line-height: 60px;
     font-family: Segoe UI;
 }

 .webdev {
     max-width: 100vw;
     background: #203165;
     padding-bottom: 50px;
     margin: 0;
 }

 .webdev .title {
     border-bottom: #ffffff solid 1px;
     color: #ffffff;
     margin-top: 70px;
     padding: 0px 15px;
     font-family: Segoe UI;
 }

 .webdev .title h1 {
     font-size: 3vw;
     font-family: Segoe UI;
 }

 .card {
     text-align: center;
     height: 350px;
     margin-left: 25px;
     margin-right: 25px;
     margin-top: 90px;
     transition: .4s;
     transition-property: all;
     transition-duration: 0.4s;
     transition-timing-function: ease;
     transition-delay: 0s;
     font-family: Segoe UI;
 }

 .card:hover {
     transform: scale(1.03, 1.03);
 }

 .image-box {
     width: 90%;
     height: 100px;
     margin: auto;
 }

 .careers-image {
     width: 100%;
     user-select: none;
   /* height:8vw; */
 }

 .card h1 {
     position: relative;
     top: 10px;
     left: auto;
     right: auto;
     font-weight: 600;
     font-size: 2vw;
 }

 .card p {       
     /* font-size: 1vw; */
     /* padding: 20px 0px; */
     font-weight: 400;
     padding: 10px 10px 20px ;
     font-size: 14px;
     display: block;
     font-family: Segoe UI;
     text-overflow: ellipsis;
     word-wrap: break-word;
     overflow: hidden;
     max-height: 8em;
     line-height: 1.5em;
     margin-top:3px;
 }

 .button {
     background-color: #203165;
     color: #ffffff;
     margin-top: 19px;
 }

 @media (min-width:767px) and (max-width:992px) {
     .headerimg label {
         font-size: 5vw;
     }
     .webdev .title h1 {
         font-size: 5vw;
     }
     .card h1 {
         font-size: 3vw;
     }
     .card p {
         font-size: 2vw;
     }
 }

 @media (min-width:480px) and (max-width:767px) {
     .card {
         margin-left: 5%;
         margin-right: 0;
     }
     .headerimg label {
         font-size: 10vw;
     }
     .webdev .title h1 {
         font-size: 10vw;
     }
     .card h1 {
         font-size: 6vw;
     }
     .card p {
         font-size: 2.8vw;
     }
     .card img {
         width: 60%;
     }
 }

 @media (max-width:480px) {
     .card {
         margin-left: 8%;
         margin-right: 0;
     }
     .headerimg label {
         font-size: 9vw;
     }
     .webdev .title h1 {
         font-size: 10vw;
     }
     .card h1 {
         font-size: 7vw;
     }
     .card p {
         font-size: 4.5vw;
     }
     .card img {
         width: 80%;
     }
 }