<h2 mat-dialog-title>Thank-You</h2>
<mat-dialog-content class="mat-typography">
    <h3>Thank you for contacting us. We will get back to you soon.</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close onClick="history.go(0);">Ok</button>
</mat-dialog-actions>