

.slider {
  max-width: 100vw;
  height: 49vw;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  /* height: 49vw; */
}

.sliderimg {
  height: 49vw;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0.6;
}

.slider .container {
  text-align: center;
  align-content: center;
  border: #ffffff;
  margin-top: 20%;
}

.colordiv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
}

.line1 {
  overflow: hidden;
  background: linear-gradient(to right, #BD7FC9, #20336D);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: line1 2s infinite;
}

.line2 {
  overflow: hidden;
  background: linear-gradient(to left, #BD7FC9, #20336D);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: line2 2s infinite;
}

.line3 {
  overflow: hidden;
  background: linear-gradient(to right, #BD7FC9, #20336D);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: line3 2s infinite;
}

.label1 {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  /* animation: label1 4s infinite; */
  
}

.height {
  height: 5vw;
  font-size: 4vw;
  font-family: Segoe UI;
}

.lableheight{
  height: 5vw;
  font-size: 4vw;
  font-family: Segoe UI;
}

@keyframes line1 {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes line2 {
  0% {
    background-position: -500%;
  }
  10% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes line3 {
  0% {
    background-position: -500%;
  }
  20% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes label1 {
  0% {
    opacity: 1;
  }
  
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    
  }
}

@media (min-width:767px) and (max-width:992px) {
  .height {
    /* font-size: 6; */
    height: 6.1vw;
  }
  .lableheight{
    height: 6vw;
    font-size: 4vw;
    
  }
}

@media (min-width:480px) and (max-width:767px) {
  .height {
    /* font-size: 6; */
    height: 6.1vw;
  }
  .lableheight{
    height: 6vw;
    font-size: 4vw;
  }

  .slider .container {
    margin-left: 25%;
    margin-right: 25%;
    /* margin-top: 23%; */
  }
  
}

@media (max-width:480px) {
  .height {
    /* font-size: 6; */
    height: 7vw;
  }
  .lableheight{
    height: 5vw;
    font-size: 5vw;
    
  }
  .slider .container {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 24%;
  }
  
}