


<div class="slider row" id="slider">
  <img class="sliderimg col-md-12" src="../assets/images/comp41.jpg">
  <!-- <div class="col-md-3"></div> -->
  <div class="col-md-6 container">
    <div class="colordiv" *ngIf="line1">
      <div class="line1 height"></div>
      <div class="line2 height"></div>
      <div class="line3 height"></div>
    </div>
    <div class="labeldiv" *ngFor="let item of slideItems;let i = index">
      <h1 @line1 class="label1 lableheight" *ngIf="i == counter">{{item.p1}} </h1>
      <h1 @line1 class="label1 lableheight" *ngIf="i == counter">{{item.p2}}</h1>
      <h1 @line1 class="label1 lableheight" *ngIf="i == counter">{{item.p3}}</h1>
    </div>
  </div>
  <!-- <div class="col-md-3"></div> -->

</div>