<!-- ............................. Slider Show...................................... -->
<div>
  <div style="padding: o;margin: 0; overflow: hidden; max-width: 100vw;">
    <app-slider></app-slider>
  </div>

  <!-- <a href="home#whatwedo"><span class="scroll-btn" (click)="click();"></span></a> -->

  <!-- ........................What We Do .............-->
  <div id="whatwedo">
    <div class="row whatwedoitem">

      <div class="whatwedo2 whatwedohide"  (click)="navsubroute('/hybridapp', 0)">
        <div class="whatwedocard1">
          <h4>What we do</h4>
          <h5>We Grow as You Grow</h5>
          <p>
            The secret of our success lies
            in the quality of our services.
            We deliver end-to-end app &
            game development solutions for
            mobile, web & desktop.
            Whether you are a start-up or a leader.
            we assimilate client’s needs &
            fast-track their way to success.
          </p>

        </div>

      </div>


      <div class="col-md-4" style="padding: 0px;">
        <div class="whatwedo1">
          <mat-card class="whatwedocard1" (click)="navsubroute('/hybridapp', 0)">
            <h4>Hybrid App Development</h4>
            <img class="img01-1" src="../../../assets/images/whatwedo/nativescript_logo_white.png">
            <img class="img01-2" src="../../../assets/images/whatwedo/nativescript_logo.png">
            <img class="img02-1" src="../../../assets/images/whatwedo/reactnative_logo_white.png">
            <img class="img02-2" src="../../../assets/images/whatwedo/reactnative_logo.png">
          </mat-card>

          <mat-card class="whatwedocard2" (click)="navsubroute('/hybridapp', 1)">
            <h4>Website Development</h4>
            <img class="img11-1" src="../../../assets/images/whatwedo/angular_logo.png">
            <img class="img11-2" src="../../../assets/images/whatwedo/angular_logo_white.png">
            <img class="img12-1" src="../../../assets/images/whatwedo/vueJs.png">
            <img class="img12-2" src="../../../assets/images/whatwedo/vueJs_white.png">
            <img class="img13-1" src="../../../assets/images/whatwedo/reactjs_logo.png">
            <img class="img13-2" src="../../../assets/images/whatwedo/reactjs_logo_white.png">

          </mat-card>
        </div>
      </div>
      <div class="col-md-3 whatwedo2-1"></div>
      <div class="col-md-4 whatwedohide2" >
        <div class="whatwedo2 ">
          <div class="whatwedocard1">
            <h4>What we do</h4>
            <h5>We Grow as You Grow</h5>
            <p>
              The secret of our success lies
              in the quality of our services.
              We deliver end-to-end app &
              game development solutions for
              mobile, web & desktop.
              Whether you are a start-up or a leader.
              we assimilate client’s needs &
              fast-track their way to success.
            </p>

          </div>

        </div>
      </div>
      <div class="col-md-3" >
        <div class="whatwedo3">
          <mat-card class="whatwedocard1" (click)="navsubroute('/hybridapp', 2)">
            <h4>Design Services</h4>
            <img class="img301-1" src="../../../assets/images/whatwedo/adobeXD_logo.png">
            <img class="img301-2" src="../../../assets/images/whatwedo/adobeXD_logo_white.png">
            <img class="img302-1" src="../../../assets/images/whatwedo/gravitDesigner_logo.png">
            <img class="img302-2" src="../../../assets/images/whatwedo/gravitDesigner_logo_white.png">
            <img class="img303-1" src="../../../assets/images/figma_logo.png">
            <img class="img303-2" src="../../../assets/images/figma_logo_white.png">


          </mat-card>
          <mat-card class="whatwedocard2" (click)="navsubroute('/hybridapp', 3)">
            <h4>Backend Services</h4>
            <img class="img31-1" src="../../../assets/images/whatwedo/nodejs_logo_white.png">
            <img class="img31-2" src="../../../assets/images/whatwedo/nodejs_logo.png">
            <img class="img32-1" src="../../../assets/images/whatwedo/firebase_logo_white.png">
            <img class="img32-2" src="../../../assets/images/whatwedo/firebase_logo.png">
          </mat-card>
        </div>
      </div>
    </div>
  </div>


  <!-- ....................... How we Do It ................... -->

  <div id="howwedo">
    <div class="howwedoitems">
      <div class="howwedotitle" [@scrollAnimationdown]="statehwd">
        <h1>How We Do It</h1>
      </div>
      <div class="howwedoslider" [@scrollAnimationdown]="statehwd">
        <!-- 1 -->
        <div class="howwedosliderbox1" id="howwedosliderbox1" style="margin-left: 5vw;" (mouseenter)="enter($event)"
          (mouseleave)="leave()">
          <div class="cardtop" id="cardtop1" style="background:#203165 ;"></div>
          <div class="slidercardname" id="slidercardname1">Need</div>
          <div class="ver-line" style="background: #203165;" id="ver-line1"></div>
          <div class="hor-line-right" style="background: #BD7FC9;" id="hor-r-1"></div>
          <div class="slidercircule" style="background: #203165;" id="circle1">
            <span>1</span>
          </div>
          <div class="cardname" id="cardname1">Need</div>
          <p class="cardp" id="cardp1">Being able to listen to and accurately interpret a client's needs is a skill that
            is an absolute necessity for a business owner.
          </p>
          <div class="hor-line-left" style="background: transparent; opacity: 0;" id="hor-l-1"></div>
        </div>

        <!-- 2 -->

        <div class="howwedosliderbox1" id="howwedosliderbox2" (mouseenter)="enter($event)" (mouseleave)="leave()">
          <div class="forgap2" id="forgap2">
            <div class="card2name" id="cardname2">Idea</div>
            <p class="cardp2" id="cardp2">Everything begins with an idea. We understand that your idea is incredible and
              we bring-in our expertise and experience to explore and validate your idea.
            </p>
          </div>
          <div class="forgap1" id="for2gap2"></div>
          <div class="card2top" id="cardtop2" style="background:#333B71 ;"></div>
          <div class="hor-line-right2" style="background: #9B6EB3;" id="hor-r-2"></div>
          <div class="slidercircule2" style="background: #333B71;" id="circle2">
            <span>2</span>
          </div>
          <div class="hor-line-left2" style="background: #BD7FC9;" id="hor-l-2"></div>
          <div class="ver-line2" style="background: #333B71;" id="ver-line2"></div>
          <div class="slidercardname2" id="slidercardname2">Idea</div>
          <!-- <div class="cardtop2" id="cardtop2" style="background:#203165 ;"></div> -->
        </div>

        <!-- 3 -->

        <div class="howwedosliderbox1" id="howwedosliderbox3" (mouseenter)="enter($event)" (mouseleave)="leave()">
          <div class="cardtop" id="cardtop3" style="background:#4D4881 ;"></div>
          <div class="slidercardname" id="slidercardname3">Conceptualization</div>
          <div class="ver-line" style="background: #4D4881;" id="ver-line3"></div>
          <div class="hor-line-right" style="background: #8162A3;" id="hor-r-3"></div>
          <div class="slidercircule" style="background: #4D4881;" id="circle3">
            <span>3</span>
          </div>
          <div class="cardname" id="cardname3">Conceptualization</div>
          <p class="cardp" id="cardp3">Our dedicated team of Analysts and Designers collaborate to envision, refine &
            elaborate your concept into a Specs document.
          </p>
          <div class="hor-line-left" style="background: #9B6EB3;" id="hor-l-3"></div>

        </div>

        <!-- 4 -->

        <div class="howwedosliderbox1" id="howwedosliderbox4" (mouseenter)="enter($event)" (mouseleave)="leave()">
          <div class="forgap2" id="forgap4">
            <div class="card2name" id="cardname4">Plan & Strategize</div>
            <p class="cardp2" id="cardp4">Project decomposition, resource allocation, project schedule and budget are
              defined and stakeholder communication plan is established.
            </p>
          </div>
          <div class="forgap1" id="for2gap4"></div>
          <div class="card2top" id="cardtop4" style="background:#6A5694 ;"></div>
          <div class="hor-line-right2" style="background: #6A5694;" id="hor-r-4"></div>
          <div class="slidercircule2" style="background: #6A5694;" id="circle4">
            <span>4</span>
          </div>
          <div class="hor-line-left2" style="background: #8162A3;" id="hor-l-4"></div>
          <div class="ver-line2" style="background: #6A5694;" id="ver-line4"></div>
          <div class="slidercardname2" id="slidercardname4">Plan & Strategize</div>

        </div>

        <!-- 5 -->
        <div class="howwedosliderbox1" id="howwedosliderbox5" (mouseenter)="enter($event)" (mouseleave)="leave()">
          <div class="cardtop" id="cardtop5" style="background:#8162A3 ;"></div>
          <div class="slidercardname" id="slidercardname5">Development Cycle</div>
          <div class="ver-line" style="background: #8162A3;" id="ver-line5"></div>
          <div class="hor-line-right" style="background: #4D4881;" id="hor-r-5"></div>
          <div class="slidercircule" style="background: #8162A3;" id="circle5">
            <span>5</span>
          </div>
          <div class="cardname" id="cardname5">Development Cycle</div>
          <p class="cardp" id="cardp5">Our Project Managers work closely with Design, Development & QA teams to ensure
            timely delivery beyond expectations.
          </p>
          <div class="hor-line-left" style="background: #6A5694;" id="hor-l-5"></div>

        </div>

        <!-- 6 -->

        <div class="howwedosliderbox1" id="howwedosliderbox6" (mouseenter)="enter($event)" (mouseleave)="leave()">
          <div class="forgap2" id="forgap6">
            <div class="card2name" id="cardname6">Launch</div>
            <p class="cardp2" id="cardp6">We give full support in app deployment on all platforms, marketing assistance
              &
              growth hacking thereafter.
            </p>
          </div>
          <div class="forgap1" id="for2gap6"></div>
          <div class="card2top" id="cardtop6" style="background:#9B6EB3 ;"></div>
          <div class="hor-line-right2" style="background: #333B71;" id="hor-r-6"></div>
          <div class="slidercircule2" style="background: #9B6EB3;" id="circle6">
            <span>6</span>
          </div>
          <div class="hor-line-left2" style="background: #4D4881;" id="hor-l-6"></div>
          <div class="ver-line2" style="background: #9B6EB3;" id="ver-line6"></div>
          <div class="slidercardname2" id="slidercardname6">Launch</div>

        </div>

        <!-- 7 -->

        <div class="howwedosliderbox1" id="howwedosliderbox7" (mouseenter)="enter($event)" (mouseleave)="leave()">
          <div class="cardtop" id="cardtop7" style="background:#BD7FC9 ;"></div>

          <div class="slidercardname" id="slidercardname7">Iterations</div>
          <div class="ver-line" style="background: #BD7FC9;" id="ver-line7"></div>
          <div class="hor-line-right" style="background: transparent; opacity: 0;" id="hor-r-7"></div>
          <div class="slidercircule" style="background: #BD7FC9;" id="circle7">
            <span>7</span>
          </div>
          <div class="cardname" id="cardname7">Iterations</div>
          <p class="cardp" id="cardp7">Based on analytics & user feedback, we quickly make changes to scale to the
            target
            audience.
          </p>
          <div class="hor-line-left" style="background: #333B71;" id="hor-l-7"></div>

        </div>
      </div>


    </div>


    <owl-carousel-o [options]="customOptions" class="owl-slider1">
      <!-- 1 -->
      <ng-template carouselSlide>
        <div class="howwedosliderbox2" id="howwedosliderbox1">
          <div class="cardtop-owl">
            <div class="slidercirculeafter-owl" id="circle1">
              <span style="font-size: 35px;">1</span>
            </div>
          </div>

          <div class="cardname" id="cardname1" style="display: block; ">Need</div>
          <p class="cardp" id="cardp1" style="display: block;">Being able to listen to and accurately interpret a
            client's
            needs is a skill that is an absolute necessity for a business owner.
          </p>
        </div>
      </ng-template>

      <!-- 2 -->
      <ng-template carouselSlide>
        <div class="howwedosliderbox2" id="howwedosliderbox2">
          <div class="forgap2" id="forgap2" style="display: block; margin-top: 1vh; height: 155px;">
            <div class="card2name" id="cardname2" style="display: block ;margin-top: 1 vw;">Idea</div>
            <p class="cardp2" id="cardp2">Everything begins with an idea. We understand that your idea is incredible and
              we bring-in our expertise and experience to explore and validate your idea.
            </p>
          </div>
          <div class="card2top-owl" id="cardtop2">
            <div class="slidercircule2after-owl" id="circle2">
              <span style="font-size: 35px;">2</span>
            </div>
          </div>

        </div>
      </ng-template>

      <!-- 3 -->

      <ng-template carouselSlide>
        <div class="howwedosliderbox2" id="howwedosliderbox1">
          <div class="cardtop-owl">
            <div class="slidercirculeafter-owl">
              <span style="font-size: 35px;">3</span>
            </div>
          </div>
          <div class="cardname" id="cardname1" style="display: block;">Conceptualization</div>
          <p class="cardp" id="cardp1" style="display: block;">Our dedicated team of Analysts and Designers collaborate
            to
            envision, refine & elaborate your concept into a Specs document.
          </p>
        </div>
      </ng-template>

      <!-- 4 -->
      <ng-template carouselSlide>
        <div class="howwedosliderbox2" id="howwedosliderbox2">
          <div class="forgap2" id="forgap2" style="display: block; margin-top: 1vh; height: 155px;">
            <div class="card2name" id="cardname2" style="display: block ;margin-top: 1 vw;">Plan & Strategize</div>
            <p class="cardp2" id="cardp2">Project decomposition, resource allocation, project schedule and budget are
              defined and stakeholder communication plan is established.
            </p>
          </div>

          <div class="card2top-owl" id="cardtop2">
            <div class="slidercircule2after-owl" id="circle2">
              <span style="font-size: 35px;">2</span>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- 5 -->

      <ng-template carouselSlide>
        <div class="howwedosliderbox2" id="howwedosliderbox1">
          <div class="cardtop-owl">
            <div class="slidercirculeafter-owl" id="circle1">
              <span style="font-size: 35px;">5</span>
            </div>
          </div>
          <div class="cardname" id="cardname1" style="display: block;">Development Cycle</div>
          <p class="cardp" id="cardp1" style="display: block;">Our Project Managers work closely with Design,
            Development
            & QA teams to ensure timely delivery beyond expectations.
          </p>
        </div>
      </ng-template>

      <!-- 6 -->
      <ng-template carouselSlide>
        <div class="howwedosliderbox2" id="howwedosliderbox2">
          <div class=" forgap2" id="forgap2" style="display: block; margin-top: 1vh; height: 155px;">
            <div class="card2name" id="cardname2" style="display: block ;margin-top: 1 vw;">Launch</div>
            <p class="cardp2" id="cardp2">We give full support in app deployment on all platforms, marketing assistance
              &
              growth hacking thereafter.
            </p>
          </div>

          <div class="card2top-owl" id="cardtop2">
            <div class="slidercircule2after-owl" id="circle2">
              <span style="font-size: 35px;">2</span>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- 7 -->

      <ng-template carouselSlide>
        <div class="howwedosliderbox2" id="howwedosliderbox1">
          <div class="cardtop-owl">
            <div class="slidercirculeafter-owl" id="circle1">
              <span style="font-size: 35px;">7</span>
            </div>
          </div>
          <div class="cardname" id="cardname1" style="display: block;">Iterations</div>
          <p class="cardp" id="cardp1" style="display: block;">Based on analytics & user feedback, we quickly make
            changes
            to scale to the target audience.
          </p>
        </div>
      </ng-template>
    </owl-carousel-o>

  </div>

  <!-- ............................ How We Do End ................................ -->

  <!-- .......................... Technologies ................... -->

  <div id="technologies">
    <div class="row">
      <div class="col-md-3 techTitleDiv1">
        <div class="techTitle " [@scrollAnimationdown]="stateT">
          <h1>Technologies</h1>
          <p>As a custom software development
            company, we have our fingers on the
            pulse of solution-based development
            using tools that bring technology to life.</p>
        </div>
      </div>
      <div class="col-md-9 sliderdiv" [@scrollAnimationdown]="stateT">
        <owl-carousel-o #owlCar [options]="customOptions2" class="technologies-slider">

          <ng-template carouselSlide>
            <mat-card class="techcard" style="padding: 0 !important; background: #6A5694;">
              <div style="background: #203165; width: 100%; height: 50px; border-radius: 5px; vertical-align: middle;">
                <img class="techcardimg" src="../../../assets/images/whatwedo/nativescript_logo_white.png">
              </div>
              <img class="techcardimg" src="../../../assets/images/angularlogo-nav@2x.png" style=" margin-top: 20px;">

              <img class="techcardimg" src="../../../assets/images/whatwedo/vueJs_white.png" style=" margin-top: 20px;">
              <div class="techCardDiv2">
                <div style="width: 100%; height: 25%; ">
                  <img class="techcardimg2" src="../../../assets/images/ts.png">
                  <h2 style="float: left; margin-top: 4%; margin-left: 8%; ">TypeScript</h2>
                </div><br>

                <div style="width: 100%; height: 25%; ">
                  <img class="techcardimg2" src="../../../assets/images/jslogo.png">
                  <h2 style="float: left;; margin-top: 4%; margin-left: 8%; ">JavaScript</h2>
                </div><br>

                <div style="width: 100%; height: 25%; ">
                  <img class="techcardimg2" src="../../../assets/images/css.png">
                  <h2 style="float: left;; margin-top: 4%; margin-left: 8%;">CSS</h2>
                </div>

              </div>
              <div class="hover1">
                <p class="techCardP">Nativescript is a great platform for building cross-platform applications.
                  <br>
                  We have a history of working on Nativescript projects.
                </p>

                <button class="circlebtn" mat-button color="primary" (click)="sliderroute('/technologies',0)">LEARN
                  MORE</button>
              </div>

            </mat-card>
          </ng-template>

          <ng-template carouselSlide>
            <mat-card class="techcard" style="background: #203165; text-align: center;">
              <img class="techcardimg" src="../../../assets/images/react.png" style="margin-top: 35%;">
              <h2 style="color: #ffffff;">React Native</h2>
              <div class="hover1">
                <p class="techCardP">Reactnative is one of the most used framework for building cross-platform
                  applications.<br>
                  We have encountered and delivered projects in Reactnative.
                </p>

                <button class="circlebtn" mat-button color="primary" (click)="sliderroute('/technologies',2)">LEARN
                  MORE</button>
              </div>
            </mat-card>
          </ng-template>

          <ng-template carouselSlide>
            <mat-card class="techcard" style="background: #6A5694;">
              <div class="angular-slider-logo-cnt"
                style="background: #203165; width: 100%; height: 7vh; border-radius: 5px;">
                <img class="techcardimg" src="../../../assets/images/angularlogo-nav@2x.png">
              </div>
              <h2 style="color: #ffffff; margin-top: 100px;">One framework.</h2>
              <h2 style="color: #ffffff;">Mobile & desktop.</h2>

              <div class="hover1">

                <p class="techCardP">Angular is lightweight and fast framework. It is best choice for making web
                  applications.<br>

                  We have delivered web-applications with Angular projects. </p>

                <button class="circlebtn" mat-button color="primary" (click)="sliderroute('/technologies',1)">LEARN
                  MORE</button>
              </div>

            </mat-card>
          </ng-template>

        </owl-carousel-o>
        <div class="slider-nav-button">

          <button class="slider-nav-buttons" (click)="owlCar.prev()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button class="slider-nav-buttons" (click)="owlCar.next()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>

      </div>
      <div class="col-md-3 techTitleDiv2">
        <div class="techTitle">
          <h1>Technologies</h1>
          <p>As a custom software development
            company, we have our fingers on the
            pulse of solution-based development
            using tools that bring technology to life.</p>
        </div>
      </div>
    </div>
  </div>
</div>