/* .........................What we do ............... */

#whatwedo {
  max-width: 100%;
  background: #E5E5E5;
  font-family: Segoe UI;
  padding: 3vw 0vw;
  overflow-x: hidden;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whatwedoitem {
  width: 80vw;
padding: 0px;
  margin-bottom: 40px;
}

.whatwedo1 .whatwedocard1 {
  width: 300px;
  min-height: 240px;
  margin-top: 5vw;
  background: #203165;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  color: #BD7FC9;
  font-family: Segoe UI;
  border-radius: 50px 50px 0px 50px;
  transition: all .4s linear;
}

.whatwedo1 .whatwedocard1:hover {
  transform: scale(1.07, 1.07);
  background: #ffffff;
  color: #203165;
}

.whatwedocard1:hover .img01-1 {
  display: none;
}

.whatwedocard1:hover .img01-2 {
  display: inline;
}

.whatwedocard1:hover .img02-1 {
  display: none;
}

.whatwedocard1:hover .img02-2 {
  display: inline;
}

.whatwedocard1 .img01-1 {
  width: 200px;
  margin-top: 15px;
}

.whatwedocard1 .img01-2 {
  width: 200px;
  margin-top: 15px;
  display: none;
}

.whatwedocard1 .img02-1 {
  width: 200px;
  margin-top: 15px;
}

.whatwedocard1 .img02-2 {
  width: 200px;
  margin-top: 15px;
  display: none;
}

.whatwedo1 .whatwedocard2 {
  width: 300px;
  min-height: 240px;
  margin-top: 5vw;
  background: #ffffff;
  margin-left: auto !important;
  margin-right: auto !important;
  color: #203365;
  text-align: center;
  font-family: Segoe UI;
  border-radius: 50px 50px 50px 0px;
  transition: all .4s linear;
}

.whatwedo1 .whatwedocard2:hover {
  transform: scale(1.07, 1.07);
  background: #203165;
  color: #BD7FC9;
}

.whatwedo1 .whatwedocard2:hover .img11-1 {
  display: none;
}

.whatwedo1 .whatwedocard2:hover .img12-1 {
  display: none;
}

.whatwedo1 .whatwedocard2:hover .img13-1 {
  display: none;
}

.whatwedo1 .whatwedocard2:hover .img14-1 {
  display: none;
}

.whatwedo1 .whatwedocard2:hover .img15-1 {
  display: none;
}

.whatwedo1 .whatwedocard2:hover .img11-2 {
  display: inline;
}

.whatwedo1 .whatwedocard2:hover .img12-2 {
  display: inline;
}

.whatwedo1 .whatwedocard2:hover .img13-2 {
  display: inline;
}

.whatwedo1 .whatwedocard2:hover .img14-2 {
  display: inline;
}

.whatwedo1 .whatwedocard2:hover .img15-2 {
  display: inline;
}

.whatwedo1 .whatwedocard2 .img11-1 {
  width: 200px;
  margin-top: 15px;
  float: center;
}

.whatwedo1 .whatwedocard2 .img11-2 {
  width: 200px;
  margin-top: 15px;
  display: none;
}

.whatwedo1 .whatwedocard2 .img12-1 {
  width: 110px;
  margin-top: 5px;
}

.whatwedo1 .whatwedocard2 .img12-2 {
  width: 110px;
  margin-top: 5px;
  display: none;
}

.whatwedo1 .whatwedocard2 .img13-1 {
  width: 120px;
  margin-top: 5px;
  /* margin-left: 12px; */
  float: center;
}

.whatwedo1 .whatwedocard2 .img13-2 {
  width: 120px;
  margin-top: 5px;
  /* margin-left: 12px; */
  float: center;
  display: none;
}

.whatwedo1 .whatwedocard2 .img14-1 {
  width: 120px;
  float: right;
  margin-top: 5px;
}

.whatwedo1 .whatwedocard2 .img14-2 {
  width: 120px;
  float: right;
  margin-top: 5px;
  display: none;
}

.whatwedo1 .whatwedocard2 .img15-1 {
  width: 200px;
  /* margin-top: 5px; */
}

.whatwedo1 .whatwedocard2 .img15-2 {
  width: 200px;
  /* margin-top: 5px; */
  display: none;
}

.whatwedo2 .whatwedocard1 {
  width: 300px;
  min-height: 240px;
  padding: 20px;
  margin-top: 14vw;
  background: transparent;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: #404040;
  font-family: Segoe UI;
}

.whatwedo2 .whatwedocard1 h4 {
  color: #404040;
  font-size: 5vh;
}

.whatwedo2 .whatwedocard1 h5 {
  color: #20336D;
  font-size: 3vh;
}

.whatwedo2 .whatwedocard1 p {
  color: #20336D;
  font-size: 2vh;
}

.whatwedo2 .whatwedocard2 {
  width: 300px;
  padding: 20px;
  margin-top: 2vw;
  background: #BD7FC9;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  font-family: Segoe UI;
  border-radius: 0px 0px 50px 50px;
  transition: all .4s linear;
}

.whatwedo2 .whatwedocard2:hover {
  transform: scale(1.07, 1.07);
}

.whatwedo2 .whatwedocard2:hover .img21-1 {
  display: none;
}

.whatwedo2 .whatwedocard2:hover .img21-2 {
  display: inline;
}

.whatwedo2 .whatwedocard2 .img21-1 {
  width: 150px;
  margin-top: 25px;
}

.whatwedo2 .whatwedocard2 .img21-2 {
  width: 150px;
  margin-top: 25px;
  display: none;
}

.whatwedo3 .whatwedocard1 {
  width: 300px;
  min-height: 240px;
  padding: 20px;
  margin-top: 5vw;
  background: #ffffff;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  color: #203165;
  font-family: Segoe UI;
  border-radius: 0px 50px 50px 50px;
  transition: all .4s linear;
}

.whatwedo3 .whatwedocard1:hover {
  transform: scale(1.07, 1.07);
  background: #20336D;
  color: #BD7FC9;
}

.whatwedo3 .whatwedocard1:hover .img301-1 {
  display: none;
}

.whatwedo3 .whatwedocard1:hover .img302-1 {
  display: none;
}

.whatwedo3 .whatwedocard1:hover .img303-1 {
  display: none;
}

.whatwedo3 .whatwedocard1:hover .img301-2 {
  display: inline;
}

.whatwedo3 .whatwedocard1:hover .img302-2 {
  display: inline;
}

.whatwedo3 .whatwedocard1:hover .img303-2 {
  display: inline;
}

.whatwedo3 .whatwedocard1 .img301-1 {
  width: 200px;
  margin-top: 10px;
}

.whatwedo3 .whatwedocard1 .img301-2 {
  width: 200px;
  margin-top: 10px;
  display: none;
}

.whatwedo3 .whatwedocard1 .img302-1 {
  width: 140px;
  margin-top: 10px;
  /* display: none; */
}

.whatwedo3 .whatwedocard1 .img302-2 {
  width: 140px;
  margin-top: 10px;
  display: none;
}

.whatwedo3 .whatwedocard1 .img303-1 {
  width: 120px;
  margin-top: 10px;
  /* display: none; */
}

.whatwedo3 .whatwedocard1 .img303-2 {
  width: 120px;
  margin-top: 10px;
  display: none;
}

.whatwedo3 .whatwedocard2 {
  width: 300px;
  min-height: 240px;
  padding: 20px;
  margin-top: 5vw;
  background: #203165;
  color: #BD7FC9;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  font-family: Segoe UI;
  border-radius: 50px 0px 50px 50px;
  transition: all .4s linear;
}

.whatwedo3 .whatwedocard2:hover {
  transform: scale(1.07, 1.07);
  background: #ffffff;
  color: #203165;
}

.whatwedo3 .whatwedocard2:hover .img31-1 {
  display: none;
}

.whatwedo3 .whatwedocard2:hover .img31-2 {
  display: inline;
}

.whatwedo3 .whatwedocard2:hover .img32-1 {
  display: none;
}

.whatwedo3 .whatwedocard2:hover .img32-2 {
  display: inline;
}

.whatwedo3 .whatwedocard2 .img31-1 {
  width: 130px;
  margin-top: 20px;
}

.whatwedo3 .whatwedocard2 .img31-2 {
  width: 130px;
  margin-top: 20px;
  display: none;
}

.whatwedo3 .whatwedocard2 .img32-1 {
  width: 180px;
  /* margin-top: 5px; */
}

.whatwedo3 .whatwedocard2 .img32-2 {
  width: 180px;
  /* margin-top: 5px; */
  display: none;
}

.whatwedohide {
  display: none;
}

.whatwedohide2 {
  display: block;
}

.whatwedo2-1 {
  display: none;
}

@media screen and (max-width:1000px) {
  .whatwedohide {
    display: block;
    max-width: 100% !important;
  }
  .whatwedohide2 {
    display: none;
  }
  .whatwedo2 .whatwedocard2 {
    width: 300px;
    min-height: 240px !important;
    padding: 20px;
    margin-top: 5vw !important;
    background: #BD7FC9;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    font-family: Segoe UI;
    border-radius: 50px 0px 50px 50px !important;
    transition: all .4s linear;
  }
  .whatwedo2 .whatwedocard1 {
    width: 80%;
  }
  .whatwedo2-1 {
    display: block;
  }
}

@media screen and (max-width:1240px) {
  .whatwedoitem {
    width: 100vw;
  }
}

@media screen and (max-width:450px) {
  .whatwedo2 .whatwedocard1 h4 {
    color: #404040;
    font-size: 24px;
  }
  .whatwedo2 .whatwedocard1 h5 {
    color: #20336D;
    font-size: 18px;
  }
  .whatwedo2 .whatwedocard1 p {
    color: #20336D;
    font-size: 15px;
  }
  #howwedo {
    background: #E5E5E5;
    max-width: 100%;
    height: 600px;
    margin-top: 1px;
    margin-bottom: 80px;
    padding-top: 60px !important;
  }
  .howwedotitle h1 {
    font-size: 24px !important;
  }
  .techTitle h1 {
    font-size: 24px !important;
  }
  .techTitle p {
    font-size: 14px !important;
  }
}

.whatwedo3 {
  /* border: #20336D solid 2px; */
  width: 100%;
}

.whatwedo1 {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.whatwedo2 {
  width: 100%;
}

/* ...................................end................................... */

/* .............................how We DO  It .......................*/

#howwedo {
  background: #E5E5E5;
  max-width: 100%;
  height: 600px;
  margin-top: 1px;
  margin-bottom: 80px;
  padding-top: 100px;
}

.howwedotitle {
  text-align: center;
}

.howwedotitle h1 {
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  font-family: Segoe UI;
  font-weight: 500;
  font-size: 30px;
  color: #404040;
}

.howwedotitle h1::before {
  content: '';
  position: absolute;
  left: 0;
  top: -14px;
  background: #BD7FC9;
  border-radius: 1.5px;
  border-top-left-radius: 1.5px;
  border-top-right-radius: 1.5px;
  border-bottom-right-radius: 1.5px;
  border-bottom-left-radius: 1.5px;
  width: 75px;
  height: 3px;
}

.howwedotitle h1::after {
  content: '';
  position: absolute;
  left: 52px;
  top: -14px;
  background: #E5E5E5;
  width: 10px;
  height: 3px;
}

.howwedoslider {
  max-width: 100%;
  margin-top: 100px;
  margin-bottom: 15vh;
  height: 80vh;
  display: none;
}

.howwedosliderbox1 {
  width: 13vw;
  height: 25vw;
  float: left;
  transition: all .4s linear;
  border-radius: 10px;
}

.howwedosliderbox1-active {
  transform: scale(1.25, 1.25);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  background: #fff;
  color: rgba(0, 0, 0, .87);
}

.slidercardname {
  font-family: Segoe UI;
  color: #404040;
  font-size: 1vw;
  font-weight: 500;
  width: 100%;
  height: 2.5vw;
  text-align: center;
}

.ver-line {
  margin-top: 0;
  width: 4px;
  height: 8vw;
  margin-left: 49%;
  background: #203165;
}

.slidercircule {
  background: #203165;
  border-radius: 100%;
  height: 5vw;
  width: 5vw;
  color: #ffffff;
  font-size: 3vw;
  vertical-align: middle;
  float: right;
  text-align: center;
}

.slidercirculeafter {
  position: absolute !important;
  top: 0;
  margin-left: 4vw;
  background: #203165;
  border-radius: 100%;
  height: 5vw;
  width: 5vw;
  color: #ffffff;
  font-size: 3vw;
  vertical-align: middle;
  text-align: center;
}

.howwedosliderbox2 {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-right: 10% !important;
  margin-left: 10% !important;
  float: left;
  vertical-align: bottom;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  background: #fff;
  color: rgba(0, 0, 0, .87);
  width: 80%;
  height: 233px;
  border-radius: 10px;
}

.slidercardname2 {
  margin-top: 1vw;
  font-family: Segoe UI;
  color: #404040;
  font-size: 1vw;
  font-weight: 500;
  width: 100%;
  height: 5vh;
  text-align: center;
}

.slidercircule2 {
  background: #203165;
  border-radius: 100%;
  height: 5vw;
  width: 5vw;
  color: #ffffff;
  font-size: 3vw;
  vertical-align: middle;
  float: right;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidercircule2after {
  position: absolute !important;
  bottom: 0;
  margin-left: 4vw;
  background: #203165;
  border-radius: 100%;
  height: 5vw;
  width: 5vw;
  color: #ffffff;
  font-size: 3vw;
  vertical-align: middle;
  /* margin-top: 13vw; */
  margin-top: 110px;
  float: right;
  text-align: center;
}

.ver-line2 {
  margin-top: 5vw;
  width: 4px;
  height: 8vw;
  margin-left: 49%;
  background: #203165;
}

.hor-line-right {
  height: 4px;
  width: 4vw;
  float: right;
  margin-top: 2.5vw;
}

.hor-line-right2 {
  height: 4px;
  width: 4vw;
  float: right;
  margin-top: 2.5vw;
}

.hor-line-left {
  height: 4px;
  width: 4vw;
  float: left;
  margin-top: 2.5vw;
}

.hor-line-left2 {
  height: 4px;
  width: 4vw;
  float: left;
  margin-top: 2.5vw;
  transition: 0s !important;
}

.linehide {
  background: transparent;
  opacity: 0;
}

.linenone {
  display: none;
}

.lineblock {
  display: block !important;
}

.cardtop-owl {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background: #203165;
  height: 35px;
}

.card2top-owl {
  bottom: 0;
  width: 100%;
  height: 3vw;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #203165;
  height: 35px;
}

.slidercirculeafter-owl {
  background: #203165;
  border-radius: 100%;
  color: #ffffff;
  font-size: 3vw;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidercircule2after-owl {
  background: #203165;
  border-radius: 100%;
  color: #ffffff;
  font-size: 3vw;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardtop {
  position: relative;
  display: none;
  widows: 100%;
  height: 3vw;
  border-radius: 10px 10px 0px 0px;
}

.card2top {
  position: relative;
  bottom: 0;
  display: none;
  widows: 100%;
  height: 3vw;
  border-radius: 0px 0px 10px 10px;
}

.cardname {
  margin-top: 45px;
  font-family: Segoe UI;
  color: #404040;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  height: 5vh;
  text-align: center;
  display: none;
}

.card2name {
  margin-top: 45px;
  font-family: Segoe UI;
  color: #404040;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  height: 5vh;
  text-align: center;
  display: none;
}

.forgap1 {
  height: 10.5vw;
}

.forgap2 {
  width: 100%;
  height: 18vw;
  display: none;
}

.cardp {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}

.cardp2 {
  margin-left: 10px;
  margin-right: 10px;
}

.owl-slider1 {
  display: block;
  height: 50vh;
}

@media screen and (min-width:1000px) {
  .owl-slider1 {
    display: none;
  }
  .howwedoslider {
    display: block;
  }
  .scroll-btn {
    display: block;
  }
  #howwedo {
    height: 750px;
  }
  .forgap2 {
    width: 100%;
    height: 19.5vw;
    display: none;
  }
}

@media screen and (max-width:1250px) {
  .slidercircule2after {
    margin-top: 160px !important;
  }
}

@media (min-width:1100px) and (max-width:1250px) {
  #howwedo {
    height: 650px;
  }
  .slidercircule2after {
    top: 80px !important;
  }
}

/* ............................End ......................... */

/* ............................ Technologies.................... */

#technologies {
  width: 95vw;
  height: 500px;
  background: #ffffff;
}

.techTitle {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 70%;
  text-align: center;
  padding-left: 10px;
}

.techTitle h1 {
  position: relative;
  text-transform: capitalize;
  font-family: Segoe UI;
  font-weight: 500;
  font-size: 35px;
  color: #404040;
}

.techTitle h1::before {
  content: '';
  position: absolute;
  left: 10;
  top: -14px;
  background: #BD7FC9;
  border-radius: 1.5px;
  border-top-left-radius: 1.5px;
  border-top-right-radius: 1.5px;
  border-bottom-right-radius: 1.5px;
  border-bottom-left-radius: 1.5px;
  width: 75px;
  height: 3px;
}

.techTitle h1::after {
  content: '';
  position: absolute;
  left: 118px;
  top: -14px;
  background: #ffffff;
  width: 10px;
  height: 3px;
}

.techTitle p {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 400;
}

.sliderdiv {
  margin-left: -8vw;
  height: 60vh;
}

.angular-slider-logo-cnt {
  padding: 5px;
}

.techcard {
  margin-right: 25%;
  text-align: center;
  height: 420px;
  overflow: hidden;
  padding: 0 !important;
}

.techcard .techcardimg {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.techcard .techcardimg2 {
  width: 40px;
  float: left;
  margin-left: 8%;
  margin-top: 5px;
}

.hover1 {
  color: #ffffff;
  height: 100%;
  width: 100%;
  left: 0;
  top: 100%;
  position: absolute;
  background: #BD7FC9;
  transition: 1s ease-in;
  vertical-align: middle;
}

.techCardP {
  margin-top: 30px;
  padding: 20px;
  color: #20336D;
  font-size: 15px;
  font-family: Segoe UI;
}

.hover1 .circlebtn {
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.techCardDiv2 {
  background: #ffffff;
  width: 90%;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  text-align: center;
}

.techcard:hover>.hover1 {
  top: 0;
}

.techTitleDiv1 {
  display: none;
  width: 100%;

}

@media screen and (max-width:850px) {
  .techcard {
    height: 360px;
  }
  .techcard .techcardimg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .techCardDiv2 {
    height: 150px;
  }
}

@media screen and (max-width:400px) {
  .sliderdiv {
    width: 135vw !important;
    margin-right: 0 !important;
    margin-left: -35vw !important;
    margin-top: 10vh;
  }
  .techcard {
    height: 330px;
    margin-right: 15%;
  }
  #technologies {
    height: 700px;
  }
}

@media (min-width:400px) and (max-width:503px) {
  .sliderdiv {
    width: 135vw !important;
    margin-right: 0 !important;
    margin-left: -35vw !important;
    margin-top: 10vh;
  }
  .techcard {
    height: 370px;
    margin-right: 15%;
  }
  #technologies {
    height: 700px;
  }
}

@media screen and (max-width:770px) {
  .techTitleDiv1 {
    /* display: block; */
    display: flex;
    justify-content: center;
  }
  .techTitleDiv2 {
    display: none;
  }
  .techTitle {
    width: 350px;
  }
  .techTitle p {
    font-family: Segoe UI;
    font-size: 15px;
    font-weight: 400;
  }
  #technologies {
    height: 670px;
  }
}

.slider-nav-button{
  height: 50px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.slider-nav-buttons{
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-width: 0px;
  outline: none;

}

.slider-nav-buttons :active{
  outline: none;
  
}

/* ............................ Technologies End ................. */