@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
/*.....................................nav-bar........................................  */

.outer-main-container {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

#navbar {
  position: fixed;
  top: 0;
  background: transparent;
  opacity: 0.7;
  background: linear-gradient(to right, #BD7FC9, #20336D);
  box-sizing: border-box;
  width: 100vw;
  height: 80px;
  z-index: 800;
  transition: .5s;
  padding: 0;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  border-radius: 0;
}

.nav-contain {
  width: 98vw;
  overflow: hidden;
}

.header-logo-container {
  float: left;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-logo-image {
  float: left;
  height: 80px;
}

.nav-contain .mainul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

.dropdown {
  list-style: none;
  float: left;
  position: initial;
  height: 100%;
  margin-top: 11px;
}

.down-dd-arrow{

}

.head-item {
  color: #FFFFFF !important;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 15px;
  padding-top: 18px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI;
  transition: .5s;
  display: none;
  cursor: pointer;
}



.head-item::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  border-radius: 30px;
  margin-top: 5px;
  background: #FFFFFF;
  transition: width .1s;
}

.head-item:hover, .head-item:hover::after {
  color: white;
  border-bottom: #FFFFFF 3PX;
  width: 100%;
}

.line {
  transition: .5s;
}

.line::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  margin-top: 5px;
  background: #FFFFFF;
  transition: width .1s;
}

.dropdown .active {
  border: 2px solid #BD7FC9;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI;
  display: none;
  margin-top: 7px;
  cursor: pointer;
}

.dropdown-menu1 {
  display: none;
  position: absolute;
  min-width: 175px;
  max-width: 300px;
  z-index: 999;
  transition: .5s;
  text-align: left;
  top: 79px;
  right: 450px;
  height: 185px;
  border-radius: 30px 30px 30px 30px;
  overflow: hidden;
  cursor: pointer;
  transition-delay: 0.5s;
}

.dropdown-menu1 a {
  color: black;
  padding: 8px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: .5s;
  font-family: Segoe UI;
  text-decoration: none;
  border-bottom: 1px solid #BD7FC9;
  font-size: 18px;
}

.dropdown-menu1 a:hover {
  background-color: #ddd;
  transition: .5s;
}

.dropdown:hover .dropdown-menu1 {
  display: block;
  transition: .5s;
}
.dropdown:hover .down-dd-arrow {
  transition: .5s;
  transform: rotate(180deg);
}

/* ........................ Mobile Nav bar ..................... */

.mat-icon {
  border: none !important;
}

.menu-mobile-cnt {
  float: right;
  margin-right: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
}

/* .menu-btn {
  height: 20px;
  border: none !important;
} */

.menu-mobile-image {
  height: 20px;
}

.mDroupdown {
  position: fixed;
  background: #20336d!important;
  padding-bottom: 0!important;
  padding-top: 0!important;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 80px;
  right: 15px;
}

#mobileDropdown {
  width: auto;
  position: absolute;
  right: 5%;
  z-index: 500;
}

.msubdroupdown {
  margin-left: 10px;
}

.mobilemenud {
  color: #ffffff !important;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: .5s;
  font-size: 19px;
  font-family: Segoe UI;
  height: 40px !important;
  text-decoration: none;
  border-bottom: 1px solid #BD7FC9;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  padding-left: 0px !important;
}

.wedo-sub-menu-item {
  height: 30px !important;
}

/* .mat-list-item{
} */

.mobilemenud a, .msubdroupdown a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
}

.mobilemenud a:hover, .msubdroupdown a:hover {
  color: #007bff;
  border-radius: 10px;
  transition: .5s;
}

@media screen and (min-width:1000px) {
  .menu-btn {
    display: none;
  }
  .mDroupdown {
    display: none;
  }
  .head-item {
    display: block;
  }
  .dropdown .active {
    display: block;
  }
  #btn1, #btn2 {
    left: 95%;
  }
}

/* ......................... lets talk .................. */

#mask1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: 800;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  background: linear-gradient(45deg, #BD7FC9, #20336D);
  font-family: Segoe UI;
  transition: .6s ease-out;
}

#closebtn1 {
  background: transparent;
  position: absolute;
  float: right;
  border: none;
  margin: 20px;
  display: none;
  z-index: 100;
}

/* .maskrow {
  margin: 7% 0;
  font-family: Segoe UI;
} */

/* .mask .postinfo {
  border-radius: 10px;
  font-family: Segoe UI;
  width: 100%;
  font-size: 16px;
  margin-right: 0px 10px !important;
}

.mask .applyform {
  border: #203165 solid 1px;
  border-radius: 10px;
  font-size: 16px;
  font-family: Segoe UI;
  height: 100%;
} */

.form-group {
  margin: 20px 0px;
}

.card-box {
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 12vh;
}

.left-card {
  width: 50%;
  height: 520px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 75px;
  margin: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
}

.text-style {
  font-size: 20px;
  font: bold;
  font-weight: 500;
  font-family: Segoe UI;
  margin-top: 25px;
  margin-bottom: 10px;
}

.gmail-details {
  font-size: 18px;
  font-weight: 60px;
  font-family: Segoe UI;
  margin-left: 40px;
}

.about-details {
  font-size: 18px;
  font-weight: 60px;
  font-family: Segoe UI;
  padding: -5px 0px 0px 60px;
  margin-left: 40px;
  flex-wrap: wrap;
  text-overflow: wrap;
  margin-right: 50px;
}

.about-color {
  color: #203165;
}

.right-card {
  width: 50%;
  height: 520px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
}

.item-box {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
}

.form-fild-align {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 800px;
}

.input-fild-width {
  width: 65%;
}

.icon {
  position: absolute;
  right: 2px;
  color: #203165;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-submit-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.login-button {
  font-size: 20px;
  margin-top: 19.5px;
  /* margin: auto !important; */
  background: #203165;
  color: #ffffff;
}

.login-button:focus {
  color: #0a1636;
  background: #ffffff;
}

::ng-deep .mat-form-field-label {
  font-size: 14px !important;
  font-family: Segoe UI !important;
}

@media(max-width: 1100px) {
  .card-box {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    margin-bottom: 5%;
    width: 90%;
  }
  .about-details {
    margin-right: 10px;
  }
  .input-fild-width {
    width: 60%;
  }
}

@media(max-width: 850px) {
  .card-box {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    flex-wrap: wrap-reverse;
    width: 80%;
  }
  .left-card {
    width: 100%;
    height: 90%;
    border: 1px;
    border-radius: 10px;
    padding: 50px;
  }
  .right-card {
    width: 100%;
    height: 90%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 50px 30px 30px 30px;
  }
  .input-fild-width {
    width: 65%;
  }
  .form-fild-align {
    font-size: 18px;
    display: flex;
    /* flex-direction: column; */
  }
  .login-button {
    margin-left: 60%;
  }
}

@media(max-width: 550px) {
  .form-fild-align {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  .input-fild-width {
    width: 100%;
  }
  .right-card {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 40px 10px 10px 10px;
  }
  .left-card {
    padding: 40px 10px 10px 10px;
  }
  .text-style {
    font-size: 18px;
  }
  .about-details {
    font-size: 16px;
  }
  .gmail-details {
    font-size: 16px;
    margin-left: 30px;
  }
  .form-submit-button {
    width: 100%;
    margin: auto;
  }
  .login-button {
    font-size: 16px;
    margin: auto;
  }
}

/* ....................................END....................................

/* .............................. Footer ................... */

#footer {
  width: 100%;
  background: transparent !important;
  margin-top: 20px!important;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.footercard {
  width: 90%;
  border-radius: 30px;
  background: #20336D;
  color: #ffffff;
  margin-bottom: 20px;
  /* padding: 30px 0px 0px 30px; */
  height: fit-content;
}

.footerlist {
  font-family: Segoe UI;
  width: 100%;
}

.footerlist .services li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footerlist h2 {
  font-family: Segoe UI;
  font-size: 21px;
  font-weight: 500;
}

.footersublist {
  font-family: Segoe UI;
  font-size: 16px;
  list-style: none;
  line-height: 27px;
  font-weight: 400;
  margin-top: 20px;
  vertical-align: middle;
}

.footersublist li {
  line-height: 30px;
  margin-top: 10px;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.fotter-icons {
  width: 25px !important;
  /* display: flex;
  align-items: flex-start;  */
}

#icons {
  margin: 15px;
  font-size: 20px;
}

.copyright {
  width: 100%;
  float: left;
  margin-top: 20px;
}

.copyright p {
  font-family: Segoe UI;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
}

.location-heading {
  margin: 0px;
}

@media (max-width:500px) {
  /* #footer {
    height: 400px !important;
    margin-top: 20px!important;
  } */
  .mDroupdown {
    margin-top: 50px;
  }
  #navbar {
    height: 50px;
  }
  .header-logo-container {
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }
  .header-logo-image {
    float: left;
    height: 50px;
  }
  .location-heading {
    margin: 10px;
  }
}

.go-to-top-cnt {
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #0a1636;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.up-btn-img {
  width: 50%;
}

/* @media (max-width:1000px) {
  .mDroupdown {
    margin-top:-12px;
   
  }
} */

/* @media (max-width:1604px) {
  .footercard {
  margin-top:100px;
  }
} */

/* .................................end........................................ */