<div class="outer-main-container">
    <div>
        <mat-card id="navbar">
            <div class="nav-contain">
                <div class="menu-mobile-cnt">
                    <img class="menu-mobile-image menu-btn" [src]="iconName" (click)="toggle()">
                </div>


                <div class="header-logo-container">
                    <img class="header-logo-image" (click)="navroute('/home')" src="../assets/images/redsky_logo.png">
                </div>
                <ul class="mainul">
                    <li class="dropdown" (mouseover)='showlist()' (mouseout)='hidelist()'>
                        <!-- <router-outlet (activate)="onActivate($event)"></router-outlet> -->
                        <a [class]="'head-item '+ whatwedoline" id="whtwedo" href="home#whatwedo">WHAT WE DO <span><i
                                    class="fas fa-caret-down down-dd-arrow" style="margin-left: 10px;"></i></span></a>
                        <mat-card class="dropdown-menu1" style="opacity: 1" id="list-hide">
                            <h4 class="dropdownTitle"><a (click)="navsubroute('/hybridapp', 0)">Cross Platform App</a>
                            </h4>
                            <h4 class="dropdownTitle"><a (click)="navsubroute('/hybridapp', 1)">Website Development</a>
                            </h4>
                            <h4 class="dropdownTitle"><a (click)="navsubroute('/hybridapp', 2)">Design Services</a></h4>
                            <h4 class="dropdownTitle"><a style="border-width:0px"
                                    (click)="navsubroute('/hybridapp', 3)">Backend Services</a>
                            </h4>
                            <!-- <h4 class="dropdownTitle"> <a style="border-bottom:none;"
                                    (click)="navroute('/bidding')">Bidding
                                    Service</a></h4> -->
                        </mat-card>
                    </li>

                    <li class="dropdown">
                        <a [class]="'head-item '+ technologyline" (click)="navroute('/technologies')">TECHNOLOGIES</a>
                    </li>
                    <li class="dropdown">
                        <a [class]="'head-item ' + aboutline" (click)="navroute('/about')">ABOUT US</a>
                    </li>
                    <li class="dropdown">
                        <a [class]="'head-item ' + traningline" (click)="navroute('/training')">TRAINING</a>
                    </li>
                    <!-- <li class="dropdown">
                        <a [class]="'head-item ' + hiringline" (click)="navroute('/hiring')">HIRING</a>
                    </li> -->
                    <li class="dropdown">
                        <a class="active" (click)="letstalk()">LET'S TALK</a>
                    </li>
                </ul>
            </div>
        </mat-card>

        <div *ngIf="show" id="mobileDropdown">
            <mat-card class="mDroupdown">
                <mat-list role="list">
                    <mat-list-item role="listitem" class="mobilemenud">
                        <a (click)="msubdroupdown()">WHAT WE DO</a><span><i *ngIf="!submenu" class="fas fa-caret-down"
                                style="margin-left: 12px;"></i><i *ngIf="submenu" class="fas fa-caret-up"
                                style="margin-left: 12px;"></i></span>
                    </mat-list-item>
                    <mat-list role="list" *ngIf="submenu" class="msubdroupdown" id="msubdroupdown">
                        <mat-list-item class="wedo-sub-menu-item" role="listitem"><a
                                (click)="navsubroute('/hybridapp', 0)"> Cross Platform App</a>
                        </mat-list-item>
                        <mat-list-item class="wedo-sub-menu-item" role="listitem"><a
                                (click)="navsubroute('/hybridapp', 1)"> Website
                                Development</a>
                        </mat-list-item>
                        <mat-list-item class="wedo-sub-menu-item" role="listitem"><a
                                (click)="navsubroute('/hybridapp', 2)"> Design Services</a>
                        </mat-list-item>
                        <mat-list-item class="wedo-sub-menu-item" role="listitem"><a
                                (click)="navsubroute('/hybridapp', 3)">Backend Services</a>
                        </mat-list-item>
                        <!-- <mat-list-item role="listitem"><a (click)="navroute('/bidding')"> Bidding Services</a>
                        </mat-list-item> -->
                    </mat-list>

                    <mat-list-item role="listitem" class="mobilemenud"><a
                            (click)="navroute('/technologies')">TECHNOLOGIES</a>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mobilemenud"><a (click)="navroute('/about')">ABOUT US</a>
                    </mat-list-item>
                    <mat-list-item role="listitem" class="mobilemenud"><a (click)="navroute('/training')">TRAINING</a>
                    </mat-list-item>
                    <!-- <mat-list-item role="listitem" class="mobilemenud"><a (click)="navroute('/hiring')">HIRING</a>
                    </mat-list-item> -->
                    <mat-list-item role="listitem" class="mobilemenud"
                        style="border: none !important; padding-bottom: 0px !important;"><a (click)="letstalk()">LET'S
                            TALK</a>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>

        <!-- ...................lets talk ........................... -->

        <div id="mask1">
            <button id="closebtn1" (click)="closemask()"><i class="material-icons"
                    style="font-size: 50px; color: #ffffff; background: transparent;">
                    close
                </i></button>

            <div class="Background">
                <div class="card-box">
                    <mat-card class="left-card">
                        <mat-tab-group mat-align-table="center">
                        </mat-tab-group>
                        <div>
                            <h1 class="text-style">
                                <i class="fas fa-at"></i> Write To Us
                            </h1>
                            <div class="gmail-details">
                                <i class="far fa-envelope"></i>
                                <a class="about-color" href="mail:info@redskyatech.com"> info@redskyatech.com</a>
                            </div>
                        </div>
                        <div>
                            <h1 class="text-style">
                                <i class="fab fa-skype"></i> Call Us
                            </h1>
                            <div class="about-details">
                                <a class="about-color" href="https://join.skype.com/invite/csMVXOPU8bkB"
                                    target="_blank">Skype
                                </a>
                            </div>
                        </div>
                        <div>
                            <h1 class="text-style">
                                <i class="fas fa-phone"></i> Call Us
                            </h1>
                            <div class="about-details">
                                <a class="about-color" href="tel:+919417928162">9417928162</a><br>
                                <a class="about-color" href="tel:+917015207182">7015207182</a>
                            </div>
                        </div>
                        <div>
                            <h1 class="text-style">
                                <i class="fas fa-map-marker-alt" style="margin-left:7px;"></i> Locate Us
                            </h1>
                            <div class="about-details">
                                <a class="about-color" href="https://goo.gl/maps/uSDJKYYHCzyjoSRD7"
                                    target="_blank">E-45,
                                    Phase 8,
                                    Industrial Area,
                                    Mohali-160071</a>
                            </div>
                        </div>

                    </mat-card>
                    <mat-card class="right-card">
                        <div style="font-size:20px;margin-top: -30px;"> Contact Us </div>
                        <mat-tab-group mat-align-table="center"> </mat-tab-group>
                        <div class="item-box">
                            <form [formGroup]="contactForm" (ngSubmit)="onProfileFormSubmit()">
                                <div class="form-fild-align">
                                    <div style="margin-top:auto;margin-bottom: auto;">
                                        <mat-label>Your Name : </mat-label>
                                    </div>
                                    <div class="input-fild-width">
                                        <mat-form-field style=" color: #203165; width: 100%;">
                                            <i class="fas fa-user icon"></i>
                                            <input formControlName="name" matInput placeholder="First name"
                                                maxlength="15" (keyup)="onNameKey($event)">

                                            <mat-error *ngIf="showErrors && !contactForm.controls[ 'name'].valid ">First
                                                name is <strong>required</strong></mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-fild-align">
                                    <div style="margin-top:auto;margin-bottom: auto;">
                                        <mat-label>Email : </mat-label>
                                    </div>
                                    <div class="input-fild-width">
                                        <mat-form-field style=" color: #203165; width: 100%;">
                                            <i class="fas fa-envelope icon"></i>
                                            <input style="padding-right:25px" type="email" formControlName="email"
                                                matInput placeholder="Enter Email" (keyup)="onEmailKey($event)">

                                            <mat-error *ngIf="showErrors  && !contactForm.controls[ 'email'].valid ">
                                                Email
                                                is <strong>required</strong></mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-fild-align">
                                    <div style="margin-top:auto;margin-bottom: auto;">
                                        <mat-label>Mobile No : </mat-label>
                                    </div>
                                    <div class="input-fild-width">
                                        <mat-form-field style=" color: #203165; width: 100%;">
                                            <i class="fas fa-mobile-alt icon"></i>
                                            <input type="number" id="mobile" maxlength="10" formControlName="mobile"
                                                matInput placeholder="Enter Mobile No." (keyup)="onMobileKey($event)">
                                            <mat-error *ngIf="showErrors && !contactForm.controls[ 'mobile'].valid ">
                                                Mobile
                                                No. is <strong>required</strong></mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-fild-align">
                                    <div style="margin-top:auto;margin-bottom: auto;">
                                        <mat-label style="margin:auto;">Query For :</mat-label>
                                    </div>
                                    <div class="input-fild-width">
                                        <mat-form-field style=" color: #203165; width: 100%;">
                                            <i class="fas fa-caret-square-down icon"></i>
                                            <mat-select formControlName="query" [(value)]="queryFor" multiple="false"
                                                (selectionChange)="onQueryChange($event)">
                                                <mat-option value="appDesign "> App Design </mat-option>
                                                <mat-option value="webDevelopment ">Web Development</mat-option>
                                                <mat-option value="appDevelopment ">App Development</mat-option>
                                                <mat-option value="bidding ">Bidding </mat-option>
                                                <mat-option value="androidAppDevelopment ">Android App Development
                                                </mat-option>
                                                <mat-option value="iosAppDevelopment ">IOS App Development</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="showErrors && !contactForm.controls[ 'query'].valid ">
                                                Please
                                                select <strong>option</strong></mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-fild-align">
                                    <div style="margin-top:auto;margin-bottom: auto;">
                                        <mat-lable>Your Message :</mat-lable>
                                    </div>
                                    <div class="input-fild-width">
                                        <mat-form-field style=" color: #203165; width: 100%;">
                                            <i class="fas fa-comment-alt icon"></i>
                                            <textarea maxlength="100" formControlName="message" matInput
                                                placeholder="Type Your Message" (keyup)="onMessageKey($event)">
                                                </textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <mat-form style=" color: #203165; width: 100%;">
                                    <div class="form-submit-button">

                                        <button mat-raised-button class="login-button"
                                            (click)="onSubmit1($event)">Submit
                                        </button>
                                    </div>
                                </mat-form>
                            </form>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div id="progresslayer" *ngIf="progressBar">
            <mat-spinner class="progressbar"></mat-spinner>
        </div>
    </div>
    <router-outlet></router-outlet>

    <div id="footer">
        <mat-card class="row footercard">

            <div class="col-md-4 footerlist">
                <h2 style="user-select:none">Get In Touch</h2>
                <ul class="footersublist">
                    <li>
                        <div class="fotter-icons">
                            <i class="far fa-envelope"></i>
                        </div>
                        <a style="color: inherit;" href="mail:info@redskyatech.com">info@redskyatech.com</a>
                    </li>
                    <li>
                        <span>
                            <div class="fotter-icons">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                        </span>
                        <span>
                            <a style="color: inherit;" href="tel:9417928162">
                                9417928162, </a>
                            <a style="color: inherit;" href="tel:7015207182">
                                7015207182 </a>
                        </span>

                    </li>

                    <li>
                        <span>
                            <div class="fotter-icons">
                                <i width="25px" class="fas fa-map-marker-alt"></i>
                            </div>
                        </span>
                        <span>
                            <a style="color: inherit;" href="https://goo.gl/maps/uSDJKYYHCzyjoSRD7"
                                target="_blank">E-45,
                                Phase 8 , Industrial Area
                                , Mohali
                                160071
                            </a>
                        </span>


                        <!-- <div class="fotter-icons"> <img class="location-icon" src="../assets/icons//pin.png">  </div><a style="color: inherit;"
                            href="https://goo.gl/maps/uSDJKYYHCzyjoSRD7" target="_blank">E-45, Phase 8 , Industrial Area
                            , Mohali
                            160071</a> -->
                    </li>
                </ul>
            </div>


            <div class="col-md-4 footerlist">
                <h2 style="user-select:none">About Us</h2>
                <ul class="footersublist">
                    <li>
                        <p style="line-height: 28px;">We are your Technology Partners. We help convert your ideas into
                            reality. We help you focus on your business by solving all your technology challenges</p>
                    </li>
                    <li>
                        <!-- <a href="https://www.linkedin.com/uas/login"><i class="fab fa-linkedin" id="icons"></i></a> -->
                        <a href="https://mobile.twitter.com/AdvanceRedsky" target="_blank"><i class="fab fa-twitter"
                                id="icons"></i></a>
                        <a href="https://www.instagram.com/redskyatech/" target="_blank"><i class="fab fa-instagram"
                                id="icons"></i></a>
                        <a href="https://www.facebook.com/redskyatech/" target="_blank"><i
                                class="fab fa-facebook-square" id="icons"></i></a>
                        <a href="https://www.linkedin.com/in/redsky-advance-technology-a484451b6/detail/recent-activity/shares/"
                            target="_blank"><i class="fab fa-linkedin" id="icons"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footerlist">
                <h2 style="user-select:none">Services</h2>
                <ul class="footersublist services">
                    <li (click)="navsubroute('/hybridapp', 0)">
                        <div class="fotter-icons"><i class="fas fa-mobile-alt"></i></div>Hybrid App
                        Development
                    </li>
                    <li (click)="navsubroute('/hybridapp', 1)">
                        <div class="fotter-icons"><i class="material-icons"
                                style="font-size: 17px; margin-left: -2px;">web</i></div>Website Development
                    </li>
                    <li (click)="navsubroute('/hybridapp', 2)">
                        <div class="fotter-icons"><i class="fas fa-drafting-compass"></i></div>Design
                        Services
                    </li>
                </ul>

            </div>
            <div class="copyright">
                <p>2021 © Copyright RedSky Advance Technology. All Rights Reserved. </p>
            </div>

        </mat-card>
    </div>
    <div *ngIf="isTopButton" class="go-to-top-cnt" (click)="top1()">
        <img class="up-btn-img" src="../assets/icons/up-arrow.png">
    </div>
</div>