.space {
    background: linear-gradient(to right, #BD7FC9, #20336D);
    height: 80px;
    width: 90vw;
}

:host ::ng-deep .mat-tab-header {
    position: fixed !important;
    background: #E5E5E5 !important;
    width: 100vw !important;
    z-index: 10;
    background: linear-gradient(to right, #BD7FC9, #20336D) !important;
}

:host ::ng-deep .mat-tab-body.mat-tab-body-active {
    background: linear-gradient(to right, #BD7FC9, #20336D) !important;
}

.technologies {
    max-width: 100vw;
}

.native {
    max-width: 99.9vw;
    padding-top: 50px;
    padding-bottom: 10px;
}

.mat-card {
    background-color: #203165;
    margin: 20px;
    height: 550px;
    font-family: Segoe UI;
    padding: 0;
}
.project-img-cnt{
    height: 470px;
    width: 250px;
    margin-top: 20px;
    /* background-size: 100%; */
    position: relative;
    /* border-radius: 70px; */
    /* overflow: hidden; */
    /* background-image: url('../../../../assets/icons/iphone-frame.png'); */

}
.iphone-img{
    height: 490px;
    width: 270px;
    /* background-size: 100%; */
    position: absolute;
    top: -10px;
    left: 0px;
}
.native .project-img {
    height: 445px;  
    width: 229px;
    margin-left: 17px;
    margin-top: 18px;
    border-radius: 0px 0px 30px 30px;

}
.desktop-main-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    margin: 0px;
}
.project-video-cnt{
    width: 460px;
    height: 260px;
    margin-top: 20px;
    position: relative;
}

.angular-video {
    /* width: 90%; */
    width: 340px;
    height: 270px;
    margin-left: 10px;
}
.desktop-img{
    width: 480px;
    height: 220px;
    position: absolute;
    top: 30px;
    left: 0px;

}
.projecttitle {
    margin: 5px 0px;
    font-family: Segoe UI;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.projecttitle h1 {
    font-family: Segoe UI;
    font-weight: 600;
    font-size: 3vw;
    text-align: left;
}

.projecttitle .des {
    margin-top: 10px;
    font-family: Segoe UI;
    font-size: 1.2vw;
    font-weight: 400;
    padding-left: 20px;
    width: 100%;
    /* padding-bottom: 30px; */
    text-align: left !important;
}

.projecttitle .tec {
    font-family: Segoe UI;
    font-size: 1.3vw;
    padding-left: 20px;
    width: 90%;
}


.project-name{
    text-align: left;
    width: 93%;
    /* margin-left: 20px; */
}

@media (min-width:767px) and (max-width:992px) {
    .projecttitle h1 {
        font-size: 6vw;
        text-align: center;
    }
    .projecttitle .des {
        margin-top: 15px;
        font-size: 3vw;
        padding-left: 20px;
    }
    .projecttitle .tec {
        margin-top: 30px;
        font-size: 3vw;
        /* padding-left: 40px; */
    }
}

@media(max-width:500px) {
    .space {
        height: 50px;
    }
}

@media (min-width:480px) and (max-width:767px) {
    .projecttitle h1 {
        font-size: 7vw;
        text-align: center;
    }
    .projecttitle .des {
        margin-top: 15px;
        font-size: 4vw;
        padding-left: 20px;
    }
    .projecttitle .tec {
        /* margin-top: 30px; */
        font-size: 2vw;
        /* padding-left: 40px; */
    }
}

@media (max-width:480px) {
    .projecttitle h1 {
        font-size: 5vw;
        text-align: center;
        margin-left: 9%;
    }
    .projecttitle .des {
        margin-top: 15px;
        font-size: 17px;
        padding-left: 20px;
    }
    .projecttitle .tec {
        /* margin-top: 30px; */
        font-size: 17px;
        padding-left: 30px;
    }
    /* .native .project-img {
        margin-left: 9%;
        user-select: none;
    } */
    .project-video-cnt{
        width: 300px;
        height: 180px;
        margin-top: -10px;
        position: relative;
        margin-left: 10px;
    }
    
    .angular-video {
        /* width: 90%; */
        width: 220px;
        height: 200px;
    }
    .desktop-img{
        width: 310px;
        height: 140px;
        position: absolute;
        top: 30px;
        left: 0px;
    
    }
    .native {
        padding-top: 15px;
    }
}