<div class="space"></div>

<!-- <div id="technologies"></div> -->


<mat-tab-group animationDuration="1000ms" [selectedIndex]="pageId" (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="NativeScript-Angular">
        <div class="native row" *ngFor="let project of nativescriptAngularprojects; index as i" [style.marginTop]="i == 0?'50px':'0px'">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 native-heading desktop-main-container" style="text-align: center;">
                <div class="projecttitle" *ngIf="isProjectTitle">
                    <h1>{{project.name}}</h1>
                </div>
                <div class="project-img-cnt" >
                    <img class="project-img" [src]="project.gif.url">
                    <img class="iphone-img" src="../../../../assets/icons/iphone-frame.png">
                </div>


            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-lg-6">
                <div class="projecttitle">
                    <h1 class="project-name" *ngIf="isResizeTitle">{{project.title}}</h1>
                    <p class="des">{{project.description}}</p>
                    <ul class="tec">
                        <li *ngFor="let data of project.functionality" style="text-align: left;">{{data.id}}</li>
                    </ul>

                </div>

            </div>
            <div class="col-lg-1"></div>
        </div>

    </mat-tab>
    <mat-tab label="NativeScript-Vue">
        <div class="native row" *ngFor="let project of nativescriptVueprojects; index as i" [style.marginTop]="i == 0?'50px':'0px'">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 desktop-main-container" style="text-align: center;">
                <div class="projecttitle" *ngIf="isProjectTitle">
                    <h1 >{{project.name}}</h1>
                </div>
                <!-- <img class=" project-img" [src]="project.gif"> -->
                <div class="project-img-cnt" >
                    <img class="project-img" [src]="project.gif.url">
                    <img class="iphone-img" src="../../../../assets/icons/iphone-frame.png">
                </div>

            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-lg-6">
                <div class="projecttitle">
                    <h1 class="project-name" *ngIf="isResizeTitle">{{project.title}}</h1>
                    <p class="des">{{project.description}}</p>
                    <ul class="tec">
                        <li *ngFor="let data of project.functionality" style="text-align: left;">{{data.id}}</li>
                    </ul>

                </div>

            </div>
            <div class="col-lg-1"></div>
        </div>

    </mat-tab>

    <mat-tab label="Angular">
        <div class="native row" *ngFor="let project of angularprojects; index as i" [style.marginTop]="i == 0?'50px':'0px'">
            <div class="col-md-1"></div>
            <div class="col-lg-5 desktop-main-container" style="text-align: center;">
                <div class="projecttitle" *ngIf="isProjectTitle">
                    <h1>{{project.name}}</h1>
                </div>
                <!-- <video class="angular-video" autoplay loop>
                    <source [src]="project.gif" type="video/mp4">
                </video> -->
                <div class="project-video-cnt" >
                    <video class="angular-video" autoplay loop muted>
                        <source [src]="project.gif.url" type="video/mp4">
                    </video>
                    <img class="desktop-img" src="../../../../assets/icons/desktop.png">
                </div>
                

            </div>

            <div class="col-lg-5">
                <div class="projecttitle">
                    <h1 class="project-name" *ngIf="isResizeTitle">{{project.title}}</h1>
                    <p class="des">{{project.description}}</p>
                    <ul class="tec">
                        <li *ngFor="let data of project.functionality" style="text-align: left;">{{data.id}}</li>
                    </ul>

                </div>

            </div>
            <div class="col-md-1"></div>
        </div>

    </mat-tab>
    <mat-tab label="React Native">
        <div class="native row" *ngFor="let project of reactNativeprojects; index as i" [style.marginTop]="i == 0?'50px':'0px'">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 desktop-main-container" style="text-align: center;">
                <div class="projecttitle" *ngIf="isProjectTitle">
                    <h1>{{project.name}}</h1>
                </div>
                <!-- <img class=" project-img" [src]="project.gif"> -->
                <div class="project-img-cnt" >
                    <img class="project-img" [src]="project.gif.url">
                    <img class="iphone-img" src="../../../../assets/icons/iphone-frame.png">
                </div>

            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-lg-6">
                <div class="projecttitle">
                    <h1 class="project-name" *ngIf="isResizeTitle">{{project.title}}</h1>
                    <p class="des">{{project.description}}</p>
                    <ul class="tec">
                        <li  *ngFor="let data of project.functionality" style="text-align: left;">{{data.id}}
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </mat-tab>


</mat-tab-group>