<!-- <div class="space"></div> -->
<div id="native">

    <div class="first">

        <div class="img-3" [style.backgroundImage]="'url('+ screen1[id].img +')'">
            <div class="first-container">
                <div class="high-value" style="user-select: none;">
                    <h1>{{screen1[id].heading}}</h1>

                    <P class="in-box-description">{{screen1[id].p}}</P>
                </div>


            </div>
        </div>
    </div>
    <div class="discription-text-cnt">
        <p>{{screen1[id].p}}</p>

    </div>
    <!-- <div class="react-native row"  style="margin-top: 40px;">
        <div class="react-img col-md-6">
            <img [src]="screen1[id].img">
        </div>
        <div class="react-text col-md-6">
            <h1> {{screen1[id].heading}} </h1>
            <p>{{screen1[id].p}}</p>
        </div>
    </div> -->



    <div class="need row">
        <div class="heading col-md-12"> {{screen2[id].heading}} </div>
        <div class="col-md-1"></div>
        <div class="col-md-10 cardbox row">

            <mat-card class="col-sm-3 card" *ngFor="let cards of screen2[id].card">
                <h1>{{cards.heading}}</h1>
                <p>{{cards.p}}</p>
            </mat-card>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="work" *ngIf="isNodejs">
        <div class="box">
            <div class="heading" style="margin-top: 0;"> {{screen3[0].heading}} </div>
            <div class="howworks-cnt">
                <img [src]="screen3[0].img">
            </div>
        </div>
    </div>
</div>
<div *ngIf="isShow" id="react">

    <!-- <div class="react-native row">
        <div class="react-img col-md-6">
            <img [src]="screen1[id].react[0].img">
        </div>
        <div class="react-text col-md-6">
            <h1> {{screen1[id].react[0].heading}} </h1>
            <p>{{screen1[id].react[0].p}}</p>
        </div>
    </div> -->

    <div class="first">

        <div class="img-3" [style.backgroundImage]="'url('+ screen1[id].react[0].img +')'">
            <div class="first-container">
                <div class="high-value" style="user-select: none;">
                    <h1>{{screen1[id].react[0].heading}}</h1>
                    <P class="in-box-description">{{screen1[id].react[0].p}}</P>
                </div>
            </div>
        </div>
    </div>
    <div class="discription-text-cnt">
        <p>{{screen1[id].react[0].p}}</p>

    </div>

    <div class="need row">
        <div class="heading col-md-12"> {{screen2[id].react[0].heading}} </div>
        <div class="col-md-1"></div>
        <div class="col-md-10 cardbox row">

            <mat-card class="col-sm-3 card" *ngFor="let cards of screen2[id].react[0].card">
                <h1>{{cards.heading}}</h1>
                <p>{{cards.p}}</p>
            </mat-card>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- <div class="work">
        <div class="row box">
            <div class="col-md-12 heading"> {{screen3[id].react[0].heading}} </div>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <img [src]="screen3[id].react[0].img">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div> -->
</div>
<div *ngIf="isfigma" id="react">

    <!-- <div class="react-native row">
        <div class="react-img col-md-6">
            <img [src]="screen1[id].figma[0].img">
        </div>
        <div class="react-text col-md-6">
            <h1> {{screen1[id].figma[0].heading}} </h1>
            <p>{{screen1[id].figma[0].p}}</p>
        </div>
    </div> -->

    <div class="first">

        <div class="img-3" [style.backgroundImage]="'url('+ screen1[id].figma[0].img +')'">
            <div class="first-container">
                <div class="high-value" style="user-select: none;">
                    <h1>{{screen1[id].figma[0].heading}}</h1>

                    <P class="in-box-description">{{screen1[id].figma[0].p}}</P>
                </div>


            </div>
        </div>
    </div>
    <div class="discription-text-cnt">
        <p>{{screen1[id].figma[0].p}}</p>

    </div>

    <!-- <div class="native row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="img">
                <img [src]="screen1[id].figma[0].img">
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text">
                    <h1> {{screen1[id].figma[0].heading}} </h1>
                    <br>
                    <p>{{screen1[id].figma[0].p}}</p>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="col-md-1"></div>
    </div> -->

    <div class="need row">
        <div class="heading col-md-12"> {{screen2[id].figma[0].heading}} </div>
        <div class="col-md-1"></div>
        <div class="col-md-10 cardbox row">

            <mat-card class="col-sm-3 card" *ngFor="let cards of screen2[id].figma[0].card">
                <h1>{{cards.heading}}</h1>
                <p>{{cards.p}}</p>
            </mat-card>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- <div class="work">
            <div class="row box">
                <div class="col-md-12 heading"> {{screen3[id].react[0].heading}} </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <img [src]="screen3[id].react[0].img">
                </div>
                <div class="col-md-1"></div>
            </div>
        </div> -->
</div>