.space {
    height: 80px;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}

.native {
    max-width: 100vw;
    width: 100vw;
    min-height: 49vw;
    margin: 0;
    padding-bottom: 90px;
    background: linear-gradient(to right, #BD7FC9, #20336D);
}

.first {
    max-width: 100%;
    height: 70vh;
    margin-top: 70px;
    /* padding-top: 100px; */
    /* padding-bottom: 70px; */
    /* background: linear-gradient(to right, #BD7FC9, #20336D); */
    background-color: #262D3D;
}

.img-3 {
    background-repeat: no-repeat !important;
    height: 100% !important;
    background-size: auto 100% !important;
    background-position: center !important;
    /* height: 83em; */
}

.first-container {
    /* padding-top: 10vw; */
    background: rgba(0, 0, 0, 0.5);
    font-family: Segoe UI;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.first-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.high-value {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
}

.high-value h1 {
    font-size: 4vw;
    font-weight: 600;
    color: #ffffff;
    /* line-height: 110px; */
}

/* .high-value h2 {
    font-size: 7vw;
    font-weight: 600;
    color: #ffffff;
} */

.high-value p {
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
}

.in-box-description {
    display: block;
}

.discription-text-cnt {
    width: 100%;
    display: none;
    justify-content: center;
    background-color: #ffffff;
}

.discription-text-cnt p {
    margin: 20px 0px;
    font-size: 16px;
    color: #20336d;
    font-weight: 400;
    text-align: center;
    width: 80%;
}

.react-native {
    max-width: 100vw;
    width: 100vw;
    min-height: 49vw;
    margin: 0;
    background: linear-gradient(to right, #BD7FC9, #20336D);
}

.native .text {
    margin-top: 150px;
    color: #ffffff;
}

.native .text h1 {
    font-size: 4vw;
    padding: 10px 0px;
    font-family: Segoe UI;
}

.native .text p {
    font-size: 2vw;
    font-family: Segoe UI;
}

.react-text h1 {
    font-size: 4vw;
    padding: 10px 0px;
    font-family: Segoe UI;
    text-align: center;
}

.react-text p {
    font-size: 2vw;
    font-family: Segoe UI;
    text-align: center;
}

.react-text {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 40px;
    color: #ffffff;
}

.react-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 150px; */
}

.react-img img {
    width: 25vw;
    /* margin-top: 150px; */
}

.native .img img {
    width: 30vw;
    margin-top: 150px;
}

.cardbox {
    /* align-content: center ; */
    width: 100vw !important;
    margin-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 30%; */
}

@media (max-width:767px) {
    .first {
        height: 40vh;
        margin-top: 40px;
    }
    .native .img img {
        width: 100% !important;
        margin-top: 100px !important;
        /* border: springgreen solid 1px; */
    }
    .native .text h1 {
        font-size: 8vw !important;
        padding: 0px 10px;
        font-family: Segoe UI;
        margin-top: -100px !important;
        width: fit-content !important;
        /* line-height: 50px; */
    }
    .native .text p {
        font-size: 4vw !important;
        font-family: Segoe UI;
        width: 100% !important;
    }
    .high-value {
        width: 90%;
    }
    .high-value h1 {
        font-size: 26px;
    }
    .img-3 {
        background-size: auto 100% !important;
    }
    .discription-text-cnt {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .in-box-description {
        display: none;
    }
    .react-native {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
    }
    .react-img img {
        width: 50% !important;
        /* margin-top: 20px !important; */
        /* border: springgreen solid 1px; */
    }
    .react-text h1 {
        font-size: 3vw !important;
        padding: 0px 10px;
        font-family: Segoe UI;
        /* margin-top: -100px !important; */
        width: fit-content !important;
        /* line-height: 50px; */
    }
    .react-text p {
        font-size: 4vw !important;
        font-family: Segoe UI;
        width: 100% !important;
    }
    .react-text {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .react-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 150px; */
    }
    .heading {
        text-align: left !important;
        font-size: 7vw !important;
        width: 90% !important;
        padding: 0px !important;
    }
    .cardbox {
        /* align-content: center ; */
        width: 100vw !important;
        margin-top: 0px !important;
        /* margin-left: 30%; */
    }
    .need .card {
        /* width: 400px !important; */
        width: 90% !important;
        margin-top: 20px;
    }
    .cardbox {
        width: 100vw !important;
        margin-top: 20px !important;
        justify-content: center !important;
    }
    .howworks-cnt {
        width: 90% !important;
        margin-top: 10px;
    }
    .high-value p {
        font-size: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .need .card {
        /* width: 400px !important; */
        max-width: 100% !important;
    }
}

@media (max-width:1100px) {
    .native .img img {
        width: 100%;
        margin-top: 250px;
        /* border: springgreen solid 1px; */
    }
    .native .text h1 {
        font-size: 5vw;
        /* padding: 5px 0px; */
        font-family: Segoe UI;
        /* border: springgreen solid 1px; */
        margin-top: 100px;
        width: 100%;
        /* line-height: 50px; */
    }
    .native .text p {
        font-size: 3vw;
        width: 100%;
        font-family: Segoe UI;
    }
}

/* ........................... need ..................... */

.need {
    max-width: 100vw;
    min-height: 30vw;
    background: #E5E5E5;
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    text-align: center;
    font-size: 40px;
    font-family: Segoe UI;
    font-weight: 600;
    margin-top: 50px;
    color: #404040;
    width: 100vw;
    height: fit-content;
}

.need .card {
    /* background: transparent; */
    border: none;
    text-align: center;
    background-color: #20336D;
}

.need .card h1 {
    font-family: Segoe UI;
    font-size: 26px;
    font-weight: 600;
    padding: 10px 5px;
    color: #ffffff;
}

.need .card p {
    font-family: Segoe UI;
    font-size: 16px;
    padding: 10px 10px;
    color: #ffffff;
}

/* ............................. work ........................ */

.work {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}

.work img {
    width: 70%;
    /* max-width: 100%; */
    /* max-height: 65vh; */
}

.howworks-cnt {
    width: 50%;
}

.howworks-cnt img {
    width: 100%;
}

.work .box {
    padding: 40px 0px;
    /* padding-bottom: 50px; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}