@import "../../../styles.scss";

.main-cnt {
  margin-top: 10vh;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Segoe UI";
  background-color: $light-background;
}

.header-shape {
  width: 100vw;
  height: 70vh;
  background-image: url("../../../assets/images/hiring-background.png");
  text-align: center;

  :first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label {
    color: $white;
    font-size: 80px;
    text-align: center;
    width: 300px;
    font-weight: 500;
    line-height: 120px;
  }
}

.content-cnt {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  :nth-child(1) {
    width: 90vw;
  }
}
.post-cnt {
  width: 60vw;
  margin-top: 50px;
  padding: 20px;
  label {
    width: 100%;
    font-size: 30px;
    color: $primary2;
  }
  p {
    font-size: 15px;
    color: $primary2;
    line-height: 18px;
    margin-bottom: 40px;
  }
}

.skill-cnt {
  display: flex;
  align-items: center;
//   margin-top: 40px;
  height: 80px;

  .skil-img {
    div {
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      width: 50px !important;
      height: 50px !important;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.skill-content {
  label {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: $dark-text;
  }
  p {
    font-size: 15px;
    color: $primary2;
    line-height: 14px;
  }
}

.apply-btn {
  float: right;
  color: $white;
  background-color: $primary2;
  width: 120px;
  height: 35px;
  border: 0px;
  margin: 20px;
  font-weight: 500;
  font-size: 14px;
  outline: none;
}

.apply-btn:hover {
  color: $primary2;
  background-color: $white;
  outline: none;
}







#mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: 800;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    background: linear-gradient(45deg, #BD7FC9, #20336D);
    font-family: Segoe UI;
    transition: .6s ease-out;
}

#closebtn {
    background: transparent;
    position: absolute;
    float: right;
    border: none;
    margin: 20px;
    display: none;
    z-index: 100;
}

.card-box {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    /* margin-bottom: 5%; */
}

.left-card {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
}

.left-first-div {
    display: flex;
    flex-direction: row;
    border-bottom: #BD7FC9 solid 2px;
    border-radius: 40px;
    padding: 10px;
}

.img-height {
    height: 60px;
}

.name-adderss {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: baseline center;
    align-items: flex-end;
}

.address-div {
    width: 80%;
    margin-top: 10px;
    margin-bottom: -15px;
    text-align: right;
}

.Description-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 67px;
    width: 85%;
    height: 370px;
    padding-bottom: 10px;
}

.Description-font {
    font-family: Segoe UI;
    width: 120px;
    color: #152b6e;
}

.detail-font {
    font-family: Segoe UI;
    width: 60%;
    color: #203165;
    margin-bottom: auto;
    font-size: 16px;
}

.right-card {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
}

.apply-font {
    font-size: 24px;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 10px;
    font-family: Segoe UI;
    color: #203165;
}

.item-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 22px;
}

.form-fild-align {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 800px;
}

.input-fild-width {
    width: 65%;
}

.icon {
    position: absolute;
    right: 2.1px;
    color: #203165;
}

.apply-btn-margin {
    display: flex;
    justify-content: flex-end;
}

.apply-btn {
    font-size: 16px;
    margin-top: auto;
    background: #203165;
    color: #ffffff;
    margin-top: 5px;
}

.apply-btn:focus {
    color: #0a1636;
    background: #ffffff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

@media(max-width: 1180px) {
    .card-box {
        width: 90%;
    }
    .address-div {
        width: 90%;
    }
    .Description-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 372px;
    }
    .detail-font {
        width: 100%;
        margin-top: 20px;
    }
    .address-div {
        display: none;
        margin-bottom: 0px;
    }
}

@media(max-width: 770px) {
    .card-box {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .left-card {
        width: 100%;
        height: 450px;
        margin: auto;
        border-radius: 10px;
    }
    .right-card {
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .address-div {
        display: block;
        margin-bottom: 0px;
        margin-right: 5px;
    }
    .Description-div {
        margin: auto;
        margin-top: 50px;
        width: 85%;
        height: 200px;
        padding-bottom: 10px;
    }
    .image-with-detail {       
        display: flex;
        flex-direction: column;
    }
    .text-font {
        margin: 0;
    }
}

@media(max-width: 550px) {
   .Description-div {
       margin-top: 50px;   
       width: 90%;
       height: 250px;
       margin-bottom: 20px;
   }
   .img-height{
       border-radius: 10px;
   }
   .detail-font {
       padding-bottom: 15px;
       margin-bottom: 20px;
   }
   .address-div {
       display: none;
       margin-bottom: 0px;
   }
   .detail-font {
    font-size: 15px;
   }
   .left-card {
       padding: 0px 10px 10px 10px;
       height: 450px;
   }
   .right-card {
       padding: 40px 15px 30px 10px;
   }
   .form-fild-align{
       font-size: 15px;
   }
   .apply-btn {
       font-size: 14px;
   }
   .name-adderss{
       display: none;
   }
}

