<div class="space"></div>
<div style="height:70vh;">
    
    <div id="page" class="row img-container">
        <!-- <div class="col-md-2"></div> -->
        <div class="img-a">
            <div class="col-md-2"></div>
            <div class="col-md-8 box">
            </div>
        </div>
        <div class="img-6"> </div>

        <div class="img-2">
        </div>
        <div class="col-md-2"></div>
        <div class="img-5"></div>

    </div>
    <!-- </div> -->
    <div class="set-text">
        <h1> This page is outside of the Universe </h1>
        <p style="margin-top:35px;padding:10px;"> The page you are trying to access does not exist or has been moved.
            <br> Try going back to our homepage.</p>
        <button class="button-view" (click)="onLoginClick()"> Homepage</button>

    </div>
</div>