
.img-container {
    background: linear-gradient(to right, #BD7FC9, #20336D);
    background-image: url('../../../assets/images/bc1f08a5a84652a40c3fb230d738717e.png');
    background-image: center!important;
    background-color: initial;
    background-size: cover;
    position: relative;
    margin: auto;
   margin-top: 15%;
    width: 80vh;
    height: 40vh;
    font-size: 20px;
    vertical-align: middle;
}

.box {
    text-align: center;
    /* vertical-align: middle; */
}

.box label {
    font-size: 5vw;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Segoe UI';
    /* vertical-align: middle; */
    margin-top: 30%;
}

.set-text {
    text-align: center;
    margin-top: 34px;
    font-size: 20px;
}

.text-s {
    color: black;
    /* border-bottom: 2px solid #BD7FC9; */
    font-weight: 500;
    cursor: pointer;
    transition: color .1s linear;
}

.img-a {
    background-image: url('../../../assets/images/icon.png');
    top: 108px;
    left: 22px;
    position: absolute;
    background-size: cover;
    width: 10%;
    height: 20%;
    transform-origin: bottom left;
    -webkit-animation: mymove 2s linear infinite;
    animation: mymove 2s linear infinite;
}

@keyframes mymove {
    from {
        transform: rotate(0deg) translateX(20px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(20px) rotate(-360deg);
    }
}

.img-2 {
    background-image: url('../../../assets/images/i3.png');
    width: 70px;
    height: 59px;
    background-size: cover;
    position: absolute;
    top: 100px;
    right: 30px;
    animation: spin 3s infinite;
    margin: 0 auto;
    bottom: 30%;
    margin-top: 10%;
    margin-right: 5%;
    transform-origin: bottom left;
}

@keyframes spin {
    0% {
        left: 0px;
        top: 0px;
    }
    /* 25%  {left:0px; top:0px;} */
    50% {
        left: 0px;
        top: 20px;
    }
    /* 75%  {left:0px; top:20px;} */
    100% {
        left: 0px;
        top: 0px;
    }
}

.img-5 {
    background-image: url('../../../assets/images/i2.png');
    width: 40px;
    height: 3px;
    background-size: cover;
    position: absolute;
    bottom: 90px;
    left: 145px;
    /* margin-bottom: 13px; */
    margin-left: 14%;
    width: 3%;
    animation: bar 3s infinite;
}

@keyframes bar {
    from {
        left: 60px;
    }
    to {
        left: 115px;
    }
}

.img-6 {
    background-image: url('../../../assets/images/icon2.png   ');
    width: 13px;
    height: 21px;
    background-size: cover;
    position: absolute;
    bottom: 30%;
    right: -3px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    /* margin-right:1%; */
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
    /* 10%, 10% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      } */
    /* from {
        left: 10%;
    }
    to {
        left: 0%;
    } */
}

@media screen and (max-width: 768px) {
    .img-2 {
        margin-bottom: 10px!important;
    }
    #page {
        width: 320px;
        height: 161px;
        /* margin-top: 20%; */
        padding: 20px;
    }
    .img-a {
        width: 0px;
    }
    .img-2 {
        width: 0px;
    }
    .img-6 {
        width: 0px;
    }
}

.button-view {
    background-color: #BD7FC9;
    color: white;
    height: 45px;
    width: 8%;
    border-radius: 4em;
    border: 0px;
}

@media screen and (max-width: 1604px) {
    .button-view {
        width: 15%;
    }
}

@media screen and (max-width: 861px) {
    .button-view {
        width: 28%;
    }
}

@media screen and (max-width: 768px) {
    .set-text {
        padding-bottom: 30%;
    }
}

@media (max-width: 768px) {
    .img-5 {
        width: 0px;
        margin-top: 50px !important;
    }
}

@media (max-width: 1025px) {
    .text-s {
        margin-top: 50px !important;
    }
}

@media (max-width: 850px) {
    .row {
        margin-top: 20vw !important;
    }
}