<div class="outer-container">
    <div class="row-1">
        <img  id="cube1" class="image" src="../../../assets/icons/cube1.png">
        <img id="cube2" class="image" src="../../../assets/icons/cube2.png">
    </div>
    <div class="row-2">
        <img id="cube3" class="image" src="../../../assets/icons/cube3.png">
        <img id="cube4" class="image" src="../../../assets/icons/cube4.png">
        <img id="cube5" class="image" src="../../../assets/icons/cube5.png">
    </div>
    <div class="row-1 margin">
        <img id="cube6" class="image" src="../../../assets/icons/cube6.png">
        <img id="cube7" class="image" src="../../../assets/icons/cube7.png">
    </div>

</div>