

.outer-container{
    width: 500px;
    height: 500px;
    margin: 70px 0px;

}

.image{
    width: 150px;
    position: relative;
}

.row-1{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.row-2{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -25px;

}
.margin{
    margin-top: -25px;
}


@media (max-width:630px) {
    .outer-container{
        width: 300px;
        height: 300px;
        margin: 40px 0px;
    
    }
    
    .image{
        width: 100px;
        position: relative;
    }
    
    .row-1{
        display: flex;
        justify-content: center;
        gap: 10px;
    
    }
    
    .row-2{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: -20px;
    
    }

    .margin{
        margin-top: -20px;
    }
}

