<div class="traning">
    <div class="container headerimg row">
        <div class="col-md-3"></div>
        <label class="col-md-6">“Live as if you were to die tomorrow. Learn as if you were to live forever.”<br>
        </label>
        <div class="col-md-3"></div>
    </div>

    <!-- <div class="webdev row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="title">
                <h1>TRAINING</h1>
            </div>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-1"></div>
        <div class="col-md-10 row">
            <div class="col-lg-4 col-md-6" *ngFor="let data of traningData">
                <mat-card class="card">
                    <img [src]="data.img">
                    <h1>{{data.title}}</h1>
                    <p>{{data.des}}</p>
                </mat-card>
            </div>

        </div>
        <div class="col-md-1"></div>

    </div> -->

    <app-careers></app-careers>

</div>