.traning {
    padding: 0;
    padding-top: 80px;
    margin: 0;
    /* background: #E5E5E5; */
    max-width: 100vw;
}

.container {
    padding: 0;
    margin: 0;
}

.headerimg {
    background-image: url('../../../assets/images/traning-head.jpg');
    max-width: 100%;
    height: 320px;
    /* margin-top: 80px; */
    text-align: center;
    vertical-align: middle;
}

.headerimg label {
    font-size: 3vw;
    color: #203165;
    margin-top: 40px;
    line-height: 60px;
    font-family: Segoe UI;
}

.webdev {
    max-width: 100vw;
    background: #203165;
    padding-bottom: 50px;
    /* padding: 0; */
    margin: 0;
}

.webdev .title {
    border-bottom: #ffffff solid 1px;
    color: #ffffff;
    margin-top: 70px;
    padding: 0px 15px;
    font-family: Segoe UI;
}

.webdev .title h1 {
    font-size: 3vw;
    font-family: Segoe UI;
}

.card {
    text-align: center;
    height: 350px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 90px;
    transition: .4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-family: Segoe UI;
}

.card:hover {
    transform: scale(1.03, 1.03);
}

.card img {
    width: 90%;
}

.card h1 {
    position: relative;
    top: 10px;
    left: auto;
    right: auto;
    font-weight: 600;
    font-size: 2vw;
    /* margin-top: 40px; */
}

.card p {
    font-size: 1vw;
    padding: 20px 0px;
    font-weight: 400;
}

@media (min-width:767px) and (max-width:992px) {
    .headerimg label {
        font-size: 5vw;
    }
    .webdev .title h1 {
        font-size: 5vw;
    }
    .card h1 {
        font-size: 3vw;
    }
    .card p {
        font-size: 2vw;
    }
}

@media  (max-width:767px) {
    .card {
        margin-left: 5%;
        margin-right: 0;
    }
    .headerimg label {
        font-size: 5vw;
    }
    .webdev .title h1 {
        font-size: 10vw;
    }
    .card h1 {
        font-size: 6vw;
    }
    .card p {
        font-size: 3.8vw;
    }
    .card img {
        width: 50%;
    }
}

@media (max-width:480px) {
    .headerimg label {
        font-size: 3vw;
        line-height: 40px;
        
    }
    .card {
        margin-left: 8%;
        margin-right: 0;
    }
    .headerimg label {
        font-size: 9vw;
    }
    .webdev .title h1 {
        font-size: 10vw;
    }
    .card h1 {
        font-size: 7vw;
    }
    .card p {
        font-size: 5vw;
    }
    .card img {
        width: 80%;
    }
}
