body {
  font-family: "Segoe UI" !important;
}

.my-class .mat-dialog-container {
  background: linear-gradient(45deg, #20336d, #bd7fc9) !important;
}

//   Color Variables

$white: #ffffff;
$primary: #bd7fc9;
$primary2: #20336d;
$light-background: #e5e5e5;
$dark-text: #404040;
