.bidding {
    max-width: 100vw;
    min-height: 50vw;
    background: linear-gradient(to right, #BD7FC9, #20336D);
    margin: 0;
    padding: 0px 0px 40px 0px;
}

.bidding .box {
    text-align: center;
    /* border: #ffffff solid 1px; */
    width: 100%;
    padding: 0;
    margin: 0;
}

.bidding .box label {
    font-size: 6vw;
    color: #ffffff;
    font-family: Segoe UI;
    font-weight: 600;
    margin-top: 200px;
}

.bidding .box p {
    font-family: 'Segoe UI';
    color: #ffffff;
    font-size: 3vw;
    margin-top: 20px;
    font-weight: 300;
    padding: 10px 50px;
}

.wedo {
    max-width: 100vw;
    min-height: 50vw;
    background: #E5E5E5;
    margin: 0;
    padding-bottom: 40px;
}

.wedo .box {
    padding: 0;
    /* margin: 10px 0px; */
}

.title {
    text-align: center;
    margin-top: 50px;
    /* margin-bottom: 20px; */
    /* border: #20336D solid 1px; */
    height: fit-content;
}

.title label {
    color: #20336D;
    font-size: 6vw;
    font-weight: 600;
    /* line-height: 50px; */
    /* border: #20336D solid 1px; */
}

.box .card {
    padding: 15px;
    text-align: center;
    background-color: #20336D;
    color: #ffffff;
}

.card .icon {
    height: 90px;
    width: 90px;
    background: #ffffff;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.card h1 {
    margin-top: 20px;
    color: #ffffff;
}

.card p {
    font-size: 15px;
    margin-top: 25px;
}

.btn {
    color: #ffffff;
    background: #20336D;
    font-size: 22px;
    border-radius: 10px;
}

.btn:focus {
    background: #ffffff;
    color: #20336D;
    outline: none;
}

@media (max-width:767px) {
    .box .card {
        margin: 0px 10px;
    }
    .title label {
        font-size: 10vw;
    }
    .bidding .box label {
        font-size: 11vw;
        margin-top: 100px;
    }
    .bidding .box p {
        font-size: 8vw;
    }
}