<div id="bidding">
    <div class="row bidding">
        <div class="col-md-1"></div>
        <div class="col-md-10 box">
            <label>Bidding Service</label>
            <p>We Provide Bidding Services on Upwork, Freelancer, Guru , Fiverr and Peopleperhour.</p>

        </div>
        <!-- <div class="col-md-5"></div> -->
        <div class="col-md-1"></div>
    </div>

    <div class="wedo row">
        <div class="col-md-12 title"><label>We Work On</label></div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box row">
                <mat-card class="col-md-3 card">
                    <div class="icon"><img src="../../../assets/images/upwork.png" width="90px"></div>
                    <h1>UPWORK</h1>
                    <p>Upwork — the largest global freelancing website. With millions of jobs posted on Upwork annually,
                        freelancers are earning money by providing companies with over 5,000 skills across more than 70
                        categories of work. </p>
                </mat-card>
                <mat-card class="col-md-3 card">
                    <div class="icon"><img src="../../../assets/images/freelancer.jfif" width="90px"></div>
                    <h1>FREELANCER</h1>
                    <p>Freelancer.com is the world's largest freelancing and crowdsourcing marketplace by number of
                        users and projects. We connect over 39,218,137 employers and freelancers globally from over 247
                        countries, regions and territories.  </p>
                </mat-card>
                <mat-card class="col-md-3 card">
                    <div class="icon"><img src="../../../assets/images/Fiverr.png" width="90px"></div>
                    <h1>FIVERR</h1>
                    <p>Fiverr is an Israeli online marketplace for freelance services. Founded in 2010, the company is
                        based in Tel Aviv, Israel, and provides a platform for freelancers to offer services to
                        customers worldwide. </p>
                </mat-card>
                <mat-card class="col-md-3 card">
                    <div class="icon"><img src="../../../assets/images/peopleperhour.jpg" width="90px"></div>
                    <h1>PEOPLEPERHOUR</h1>
                    <p>PeoplePerHour
                        changed since then but our goals remain the same; connect clients
                        to our community of expert freelancers who are available to hire by the hour
                        or project; provide flexibility to work when it suits you, outside the archaic
                        9-to-5 day.
                    </p>
                </mat-card> 
            </div>
        </div>
        <div class="col-md-1"></div>
        <!-- <div class="col-md-12" style="text-align: center;">
            <button class="btn" mat-btn>Know More</button>
        </div> -->
        

    </div>
</div>